<?xml version="1.0" encoding="utf-8"?  style='display:none'>
<!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1920 1087" style="enable-background:new 0 0 1920 1087;" xml:space="preserve">
<style type="text/css">
	.explainer_screen13st0{fill:#62ACAB;}
	.explainer_screen13st1{fill:#559A99;}
	.explainer_screen13st2{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:10;}
	.explainer_screen13st3{fill:#FFFEFF;}
	.explainer_screen13st4{fill:#FCFCFC;}
	.explainer_screen13st5{font-family:'SegoeUI-Bold';}
	.explainer_screen13st6{font-size:39px;}
	.explainer_screen13st7{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
	.explainer_screen13st8{fill:#C99262;}
	.explainer_screen13st9{fill:#464845;}
	.explainer_screen13st10{fill:#42210B;}
	.explainer_screen13st11{fill:#231006;}
	.explainer_screen13st12{fill:#7A5642;}
	.explainer_screen13st13{fill:#000001;}
	.explainer_screen13st14{fill:#8E7870;}
	.explainer_screen13st15{fill:#562F1E;}
	.explainer_screen13st16{fill:none;stroke:#030805;stroke-miterlimit:10;}
	.explainer_screen13st17{opacity:0.54;fill:#7A5642;enable-background:new    ;}
	.explainer_screen13st18{fill:#1E1C1C;}
	.explainer_screen13st19{fill:#0F0F0F;}
	.explainer_screen13st20{fill:#E4EBF9;}
	.explainer_screen13st21{fill:#072E51;}
	.explainer_screen13st22{fill:#062135;}
	.explainer_screen13st23{fill:#F4EAF6;}
	.explainer_screen13st24{fill:#919191;}
	.explainer_screen13st25{fill:#D6A078;}
	.explainer_screen13st26{fill:#E4B27F;}
	.explainer_screen13st27{fill:#161414;}
	.explainer_screen13st28{fill:#0C0B0B;}
	.explainer_screen13st29{fill:#262323;}
	.explainer_screen13st30{fill:#23110C;}
	.explainer_screen13st31{fill:#FFFFFF;}
	.explainer_screen13st32{fill:#E4AC7F;}
	.explainer_screen13st33{fill:#E6B185;}
	.explainer_screen13st34{fill:#E6B085;}
	.explainer_screen13st35{fill:#DA9F77;}
	.explainer_screen13st36{fill:#A06545;}
	.explainer_screen13st37{fill:#645D5A;}
	.explainer_screen13st38{fill:none;stroke:#1B120A;stroke-width:0.5;stroke-miterlimit:10;}
	.explainer_screen13st39{fill:#1B120A;}
	.explainer_screen13st40{fill:#4A4340;}
	.explainer_screen13st41{fill:#482F27;}
	.explainer_screen13st42{fill:#FCFFFF;}
	.explainer_screen13st43{fill:#C7835D;}
	.explainer_screen13st44{fill:#F7F7F7;}
	.explainer_screen13st45{font-size:37px;}
	.explainer_screen13st46{fill:#1F2B2B;}
	.explainer_screen13st47{fill:#000D0C;}
	.explainer_screen13st48{fill:#4F4C4B;}
	.explainer_screen13st49{font-size:44px;}
	#benefit1::-webkit-input-placeholder
{
  color:white;
}

#benefit1::-moz-placeholder { 
	color:#FFF;  
}
#benefit2::-webkit-input-placeholder
{
  color:white;
}

#benefit2::-moz-placeholder { 
	color:#FFF;  
}
#benefit3::-webkit-input-placeholder
{
  color:white;
}

#benefit3::-moz-placeholder { 
	color:#FFF;  
}
#labelBenfit::-webkit-input-placeholder
{
  color:white;
}

#labelBenfit::-moz-placeholder { 
	color:white;  
}
</style>
<g id="Layer_1">
	<title>Scene_13</title>
	<g id="bg">
		<rect class="explainer_screen13st0" width="1920" id='backGrnd13' height="1087"/>
	</g>
	<g id="Layer_25">
		<ellipse class="explainer_screen13st1" cx="628.5" cy="934.5" rx="241.5" ry="6.5"/>
	</g>
	<g id="Layer_2_1_">
		<rect x="424.5" y="874" class="explainer_screen13st2" width="109" height="57.5"/>
		<rect x="534.5" y="824.5" class="explainer_screen13st2" width="160" height="111"/>
		<rect x="695.5" y="873.5" class="explainer_screen13st2" width="107" height="59"/>
		<g id="Layer_26">
			<polygon class="explainer_screen13st3" points="423,872.9 445.2,859.2 534,859.2 534,872.9 			"/>
			<polygon class="explainer_screen13st3" points="533,824 552,813 682,813 698,824 			"/>
			<polygon class="explainer_screen13st3" points="698,860 785,860 804,872 695,875 			"/>
		</g>
		<text transform="matrix(1 0 0 1 607.69 889.65)" class="explainer_screen13st4 explainer_screen13st5 explainer_screen13st6">1</text>
		<text transform="matrix(1 0 0 1 460.69 923.65)" class="explainer_screen13st4 explainer_screen13st5 explainer_screen13st6">2</text>
		<text transform="matrix(1 0 0 1 739.69 927.65)" class="explainer_screen13st4 explainer_screen13st5 explainer_screen13st6">3</text>
	</g>
	<g id="name_box">
		
			<rect x="177.9" y="173.1" transform="matrix(0.9988 -4.989569e-02 4.989569e-02 0.9988 -10.1902 32.8578)" class="explainer_screen13st7" width="950.3" height="94.8"/>
		
			<rect x="168.9" y="167.1" transform="matrix(0.9979 -6.488065e-02 6.488065e-02 0.9979 -12.535 42.1083)" class="explainer_screen13st8" width="946.3" height="93.9"/>
	</g>
	<g id="shadow">
		<ellipse class="explainer_screen13st9" cx="617.6" cy="814.6" rx="55.2" ry="5.6"/>
	</g>
	<g id="shoes">
		<path class="explainer_screen13st10" d="M655,815.1c0,0,1.1-3.3-1.7-4.9c0,0-1.3-4-2.7-4.5c-1.6-0.6,0-0.7,0-0.7l-0.9-4.3c-0.1-0.6-0.4-1.2-0.9-1.6
			c-1-1-2.9-3-4.2-3.1c-1.9-0.3-4.1-1.1-5.9-0.4s-3.3,3.8-3.2,5.1s0,6.9,0,7.3s-0.3,1.7,0.4,2.3c0,0-3.7,1.2-1.9,6.4
			C634,816.7,638.8,812.5,655,815.1z"/>
		<path class="explainer_screen13st11" d="M644.7,797.4l0.2,6.6c0,1,2.3,3,2.3,3c2.2,0.4,4.2,1.4,5.7,3c0.2,0.5,0.3,1.1,0.3,1.7
			c-1.6-1.9-3.8-3.2-6.2-3.7c0,0-2.2-2-2.3-3l-0.3-7.6H644.7z"/>
		<path class="explainer_screen13st10" d="M653.1,810.2c-1.8-1.9-4.1-3.1-6.7-3.5c0,0-2.4-1.9-2.5-2.9l-0.3-7.4c0,0,2.7-0.8,5.9,3.9
			c0,0,1.1,4.6,1.2,5.3S653.3,808,653.1,810.2z"/>
		<path class="explainer_screen13st12" d="M652.6,809.8v0.3c-0.9-1-1.9-1.8-3.1-2.5C650.6,808.2,651.7,809,652.6,809.8z"/>
		<path class="explainer_screen13st12" d="M646.2,797c-0.5-0.2-1.1-0.3-1.6-0.2l0.3,7.3c0,0.8,1.4,2.1,2,2.7l-0.3-0.1c0,0-2.2-1.9-2.2-2.9l-0.3-7.3
			C644.8,796.4,645.6,796.6,646.2,797z"/>
		<path class="explainer_screen13st13" d="M636.1,810.3c0,0-0.9-1.5,2.4-3.9s4.5-2.2,3.1-9.8c0.1,0,0.2,0.1,0.3,0.2c1.5,7.7,0.2,7.6-3.1,9.9
			s-2.4,3.9-2.4,3.9c-0.2,0-0.4-0.1-0.5-0.3L636.1,810.3z"/>
		<path class="explainer_screen13st10" d="M636,810.4c0,0-1-1.6,2.6-4.1s5-2.3,3.4-10.5c0,0-4.2-2.9-6.6,4.4v7.4C635.5,807.6,634.8,810.5,636,810.4z"
			/>
		<path class="explainer_screen13st12" d="M638.2,806.8c3.5-2.5,4.9-2.4,3.3-10.6c-1-0.6-2.1-0.7-3.2-0.3c1.1-0.8,2.6-0.9,3.8-0.1
			c1.6,8.3,0.2,8.1-3.3,10.6s-2.6,4.1-2.6,4.1c-0.4,0-0.6-0.3-0.7-0.7C636.1,808.5,637,807.5,638.2,806.8z"/>
		<path class="explainer_screen13st10" d="M578.8,808.9c0,0-1-3.3,1.8-4.7c0,0,1.4-3.9,2.7-4.3c1.5-0.5,0-0.6,0-0.6l1-4.1c0.1-0.6,0.4-1.1,0.9-1.5
			c1-1,2.9-2.8,4.1-2.9c1.8-0.2,4-1,5.8-0.2s3.1,3.8,3,5.1s-0.2,6.8-0.2,7.1s0.2,1.6-0.5,2.2c0,0,3.5,1.3,1.7,6.3
			C599.3,811.1,594.7,806.9,578.8,808.9z"/>
		<path class="explainer_screen13st11" d="M589.3,791.9l-0.4,6.2c-0.1,1-2.3,2.8-2.3,2.8c-2.1,0.3-4,1.2-5.6,2.6c-0.2,0.5-0.3,1-0.3,1.5
			c1.7-1.7,3.8-2.8,6.2-3.2c0,0,2.2-1.8,2.3-2.8l0.5-7.1H589.3z"/>
		<path class="explainer_screen13st10" d="M581.1,803.8c1.7-1.7,3.8-2.8,6.2-3.2c0,0,2.2-1.8,2.3-2.8l0.5-7.1c0,0-2.4-0.8-5.4,3.5c0,0-1.2,4.4-1.2,5.1
			S581,801.5,581.1,803.8z"/>
		<path class="explainer_screen13st12" d="M581.7,803.2v0.3c0.9-0.9,1.9-1.7,3.1-2.3C583.7,801.7,582.6,802.4,581.7,803.2z"/>
		<path class="explainer_screen13st12" d="M588.4,790.8c0.5-0.2,1.1-0.3,1.6-0.1l-0.5,7.1c0,0.8-1.4,2-2,2.5h0.3c0,0,2.2-1.8,2.3-2.8l0.5-7.1
			C589.8,790.3,589.1,790.4,588.4,790.8z"/>
		<path class="explainer_screen13st11" d="M598.7,806c0,0,1-1.7-3-4.1s-5.4-2.1-4.2-10.4c-0.1,0.1-0.2,0.1-0.3,0.2c-1.3,8.5,0.2,8.3,4.1,10.6
			s3,4.1,3,4.1c0.3,0,0.5-0.2,0.6-0.4L598.7,806z"/>
		<path class="explainer_screen13st10" d="M597.6,805c0,0,1-1.5-2.5-4.1s-4.8-2.5-3-10.4c0,0,4.2-2.7,6.3,4.6l-0.2,7.2
			C598.2,802.3,598.8,805.1,597.6,805z"/>
		<path class="explainer_screen13st12" d="M596,801.9c-3.7-2.7-5.2-2.6-3.2-11c1.1-0.6,2.4-0.6,3.5-0.1c-1.2-0.9-2.8-1-4.1-0.3c-2,8.4-0.5,8.3,3.2,11
			s2.6,4.3,2.6,4.3c0.4,0,0.6-0.3,0.7-0.7C598.6,804.4,598,803.3,596,801.9z"/>
		<path class="explainer_screen13st11" d="M656.3,817.4c0,0-0.9-2.8-5.8-2.8s-16.2-2.1-17.4,2.2c0,0,0,1.7,2.8,1.9
			C641.8,819.3,652.6,819.4,656.3,817.4z"/>
		<path class="explainer_screen13st14" d="M656,815.4c0,0-1.3-2.1-7.3-2.5c-4.2-0.3-9.1-0.2-9.1-0.2s-5.6,0.4-6.1,3.1l22.3,0.3L656,815.4z"/>
		<path class="explainer_screen13st15" d="M656.5,817.3c0,0,0.6-2.1-1.3-2.4s-15.1-1.5-19.4-0.4s-2.3,3.2-2.3,3.2s1.1-1.8,4.5-1.5
			c3.1,0.1,6.1,0.1,9.2-0.2c0,0,5.5,0.2,5.9,0.2C654.8,816.7,654.9,817.7,656.5,817.3z"/>
		<path class="explainer_screen13st11" d="M577.3,811.1c0,0,1-2.7,5.8-2.4s15.9-1,16.9,3.2c0,0-0.1,1.6-2.8,1.7C591.4,813.8,580.8,813.3,577.3,811.1z"
			/>
		<path class="explainer_screen13st14" d="M577.7,809.1c0,0,1.4-1.9,7.3-2c4.1,0,8.9,0.3,8.9,0.3s5.4,0.8,5.8,3.4l-21.8-1L577.7,809.1z"/>
		<path class="explainer_screen13st15" d="M577.2,811c0,0-0.5-2.1,1.4-2.3s14.8-0.5,19,0.8s2.1,3.3,2.1,3.3s-1-1.8-4.3-1.7c-3-0.1-6-0.3-9-0.7
			c0,0-5.4-0.2-5.7-0.1C578.9,810.5,578.6,811.4,577.2,811z"/>
		<path class="explainer_screen13st16" d="M646.3,796.7c0-3.4-7.7-3.7-7.7,0"/>
		<path class="explainer_screen13st16" d="M646.1,798.5c-0.1-3.4-7.8-3.4-7.7,0.3"/>
		<path class="explainer_screen13st16" d="M647.1,804.5c-0.1-3.4-7.8-3.4-7.7,0.3"/>
		<path class="explainer_screen13st16" d="M647.2,802.3c-0.1-3.4-7.8-3.4-7.7,0.3"/>
		<path class="explainer_screen13st16" d="M594,799.4c-0.1-3.4-7.8-3.4-7.7,0.3"/>
		<path class="explainer_screen13st16" d="M593.5,791.2c0.2-3.9-8.7-4.7-8.9-0.4"/>
		<path class="explainer_screen13st16" d="M593.9,792.4c0.1-3.3-7.4-4-7.5-0.4"/>
		<path class="explainer_screen13st16" d="M594.1,796.5c0.1-3.3-7.4-4-7.5-0.4"/>
		<path class="explainer_screen13st17" d="M655.3,814.9c0,0-2.8-2.7-11.6-2.1s-8.3,0.2-10.3,2.2c0,0-2-3.2,10-3.6S655.3,814.9,655.3,814.9z"/>
		<path class="explainer_screen13st17" d="M577.4,809.3L577.4,809.3L577.4,809.3c0.8-0.4,4.4-2.2,10.8-2.1c8.7,0.1,9.1,1.3,10.9,3.3h0.1
			c0.3-0.5,1-3.7-9.8-4.5C579.1,805.3,577.6,808.5,577.4,809.3z"/>
	</g>
	<g id="Layer_34">
		<path class="explainer_screen13st18" d="M635.8,624.8c0,0-1.7,9-1,14.8s16,161,16,161s-12.3,7-16.2,2.2l-13.2-90l-14.7-74.2c0,0-4.8-6.1-6.2-0.5
			s-0.3,79.8-0.3,79.8l0.8,78.8c0,0-9.7,4.9-16.5-1.3l-3.8-81.3l-8.3-91.9C572.7,622.1,632.4,629.1,635.8,624.8z"/>
		<path class="explainer_screen13st19" d="M602.4,624.5c15.3,1.2,30.6,1.8,32.3-0.3c0,0-0.1,0.4-0.2,1.1C628.9,626.3,615.4,625.6,602.4,624.5z"/>
		<path class="explainer_screen13st19" d="M602.5,635.4c2-1.3,5.1,2.6,5.1,2.6l15.1,73.7l13.6,89.4c0.6,0.8,1.5,1.3,2.5,1.5c-2,0.1-3.8-0.3-5-1.7
			l-13.6-89.4l-15.1-73.7C604.4,636.9,603.5,636.1,602.5,635.4z"/>
		<path class="explainer_screen13st19" d="M572.8,621.7l8.6,91.2l4,80.7c1.8,1.6,4,2.6,6.3,3c-3.2,0.1-6.3-1-8.7-3.2l-4-80.7l-8.6-91.3L572.8,621.7z"
			/>
		<path class="explainer_screen13st19" d="M648.7,780l2.4,18.3c0,0-6.8,7.2-15.6,3.3l-0.6-4.6C634.8,797,646.4,800.3,648.7,780z"/>
		<path class="explainer_screen13st19" d="M601.5,776.5l-0.9,19.5c-5.7,1.9-11.9,1-16.9-2.3l0.5-4.2C584.3,789.5,595.8,796,601.5,776.5z"/>
	</g>
	<g id="torso">
		<path class="explainer_screen13st20" d="M606.6,511.2c0,0,26.6,1,31,3s-0.1,101.6,0,103.4c0.8,8.6-67.9,8.3-69.3,2.4c-0.8-3.4-7.8-102.4-3.5-104.7
			C573.2,510.9,606.6,511.2,606.6,511.2z"/>
		<path class="explainer_screen13st20" d="M563.9,514.9c7.6-4.5,38.3-4.1,38.3-4.1s20.8,0.8,27.2,2.6c-7.9-1.4-25.2-2.1-25.2-2.1s-30.7-0.4-38.3,4.1
			c-3.9,2.3,2.5,101.3,3.2,104.7c0.2,0.9,1.8,1.6,4.3,2.3c-3.7-0.7-6-1.6-6.3-2.7C566.4,616.2,560,517.2,563.9,514.9z"/>
		<path class="explainer_screen13st20" d="M565.1,515.5c-0.7,3.8-1,12.4-1.1,23.1C563.8,526.1,564,516.8,565.1,515.5z"/>
		<path class="explainer_screen13st20" d="M633.8,619.5c-0.1-1.8,7.4-102.7,3.1-104.9c-1.7-0.9-6.7-1.7-12.2-2.3c5.9,0.5,11.4,1.1,13.2,2
			c4.4,2-0.1,102.4,0,104.2c0.2,2.3-4.4,4-11.3,5C631.2,622.6,634,621.3,633.8,619.5z"/>
		<path class="explainer_screen13st20" d="M606.6,625.1c-16.4,0.4-33.7-0.9-37.2-3.5C576.1,623.8,592.2,625.2,606.6,625.1z"/>
		<path class="explainer_screen13st20" d="M607.2,516.1c0,0,1.5-1.7,1.5-2.9s-7.5-2-15.9-2c0,0,0,3.6,1.9,4.8S596.6,510.1,607.2,516.1z"/>
		<path class="explainer_screen13st20" d="M576.2,597c0,0,11.6,23.7,24.8,25c0,0-19.2,8.6-29.2,5.2l-4.4-7.8l-2.3-34.7L576.2,597z"/>
	</g>
	<g id="collar">
		<polygon class="explainer_screen13st21" points="600,521.5 602.6,525.3 601.7,527.8 604.8,598 598.6,610.2 591.2,596.1 596.9,525.3 		"/>
		<polygon class="explainer_screen13st22" points="602.7,598.7 599.8,529.6 600.7,527.1 598.6,524 599.8,522.4 602.3,526.2 601.5,528.7 604.3,597.8 
			598.6,609.7 598,608.5 		"/>
		<polygon class="explainer_screen13st23" points="594.8,519.7 595.2,519.7 595.2,519.7 		"/>
		<path class="explainer_screen13st24" d="M604.8,526.6c0,0,1-1,3.3-9.5c0.3-0.9,0.5-1.9,0.6-2.9c0.2,2.1,0,4.1-0.6,6.1c-2.2,8.4-3.3,9.5-3.3,9.5
			l-5.5-9.5c0,0,0.5-0.4,1.2-1.1L604.8,526.6z"/>
		<path class="explainer_screen13st20" d="M599.8,518.6c1.7-1.4,3.2-2.9,4.5-4.6c1-1.3,2-1.7,2.6-3.4c0,0,3.4-0.1,1.3,8s-3.1,9.1-3.1,9.1L599.8,518.6z
			"/>
		<path class="explainer_screen13st20" d="M600.4,518.6c0,0-2-0.6-4-3.5c-0.8-1.3-1.4-2.8-1.8-4.3c0,0-4.8-0.2-3,8s2.8,9.3,2.8,9.3L600.4,518.6z"/>
		<path class="explainer_screen13st24" d="M591.5,518.4c1.8,8.2,2.8,9.3,2.8,9.3l5.2-8.2c0.2,0.2,0.5,0.3,0.8,0.4l-6.1,9.5c0,0-1-1-2.8-9.3
			c-0.3-1.4-0.5-2.8-0.4-4.2C591.2,516.8,591.3,517.6,591.5,518.4z"/>
	</g>
	<g id="righ_wrist">
		<path class="explainer_screen13st25" d="M634.6,386.1c0,0-5-2.6-5.4-4.9s-2.8-9.9,0.2-9.3S633.1,380,634.6,386.1z"/>
		<path class="explainer_screen13st26" d="M627.8,406.1c0,0-8.1-14.8-3.4-27.7c0,0,2.6,8.8,3.5,11s6.9-3.4-0.4-12.6c-3-3.8-2.4-7.7-0.9-5.6
			s8.2,1,11.4,17.2c0,0-3.9,11-3,16.6S632.7,411.6,627.8,406.1z"/>
		<path class="explainer_screen13st25" d="M568.5,381.1c0,0,5-2.6,5.4-4.9s2.8-9.9-0.2-9.3S570.1,375,568.5,381.1z"/>
		<path class="explainer_screen13st26" d="M575.4,401.1c0,0,8.1-14.8,3.4-27.7c0,0-2.6,8.8-3.5,11s-6.9-3.4,0.4-12.6c3-3.8,2.4-7.7,0.9-5.6
			s-8.2,1-11.4,17.2c0,0,3.9,11,3,16.6S570.5,406.6,575.4,401.1z"/>
	</g>
	<g id="coat">
		<path class="explainer_screen13st27" d="M609,510c0,0,26.9,0,30.6,3.6c2.8,2.7,2.9,96.3,2.9,119.4c0,2.7-2.2,4.9-4.9,4.9h-0.3l-32.5-1.8l1-59.3
			l3.8-46.4L609,510z"/>
		<path class="explainer_screen13st27" d="M592,510c0,0-22.3,0.9-28.7,5.3c-2.4,1.6,0.9,114.5,0.9,114.5c1.1,2.8,3.5,4.8,6.4,5.4
			c5.1,1.1,28.3,3.3,28.3,3.3l-0.9-51.2l-0.9-44.7L592,510z"/>
		<path class="explainer_screen13st28" d="M617.7,538.8l-7.5-6.4l9.7-5.1l-6.6-15.5l2.2-0.1l6.6,15.6l-9.7,5.1l7.5,6.4l-10.4,70.9
			c-0.1,0.2-0.3-5.3-0.5-11.3L617.7,538.8z"/>
		<path class="explainer_screen13st29" d="M612.1,510.7l5.9,15.8l-8.5,5.1l6.7,6.5l-8.9,71.6c-0.1,0.3-0.9-16.9-0.7-24.2c0.5-16.1-0.4-42.8,0.5-51.6
			c1-9.8,3.7-20.8,2.3-24.1L612.1,510.7z"/>
		<path class="explainer_screen13st28" d="M592.5,528.7l-7.5-4.5l5-14.8l2.2,0.1c0,0.1,0,0.1-0.1,0.2l-4.8,14.5l7.1,4.2l0.1,0.5l-7.4,4.6l10.2,55.8
			c0,5.8-0.1,11.6-0.2,11.4l-12.2-67.2L592.5,528.7z"/>
		<path class="explainer_screen13st29" d="M592,509.4l-4.2,14.8l6.3,4.5l-6.5,4.9l10.3,67.2c0.1,0.3,0.2-13.4,0-20.1c-0.5-14.9-0.9-40.1-2-49.8
			c-1-9-1.7-19.4-1.7-22.4L592,509.4z"/>
		<path class="explainer_screen13st30" d="M562.5,532.5c0,0,2.8,93.8,8.4,95.7c0,0-5.6-1.9-6.5-6.7S562.5,532.5,562.5,532.5z"/>
		<path class="explainer_screen13st28" d="M641,530.2c-0.2,1,0.7,108.7-5.7,106.2l7-2.1C642.3,629,641,530.2,641,530.2L641,530.2z"/>
	</g>
	<g id="coat_left_sleeve">
		<path class="explainer_screen13st27" d="M651.7,452.9c-0.3-1-0.7-2-1.2-2.9"/>
		<path class="explainer_screen13st27" d="M632.4,467.4c1.4,1.5-6.7,47.2-6.7,47.2s-6.2,13.9,4.7,26.1c1.3,1.4,7.3-4.9,7.7-6.7
			c-0.8,6.6,8-43.3,12-66.8"/>
		<path class="explainer_screen13st31" d="M626.9,407.6l-0.9-4.4l10.2-1.7l0.7,4.5C633.6,406.4,630.2,406.9,626.9,407.6z"/>
		<path class="explainer_screen13st27" d="M650.3,467c-1.8-8.1-11.1-59.9-13.4-61.5c-2.5-1.8-12.3,1.1-12.1,2.9c1,6.4,5.7,50.2,8.2,61.6"/>
	</g>
	<g id="shirt_left_sleeve">
		<path class="explainer_screen13st27" d="M548.7,433.9c-0.3-1-0.7-2-1.2-2.9"/>
		<path class="explainer_screen13st31" d="M577.2,402.6l0.9-4.4l-10.1-1.7l-0.7,4.5C570.6,401.4,573.9,401.9,577.2,402.6z"/>
		<path class="explainer_screen13st27" d="M570.6,462.6c-1.4,1.5,5.5,47.3,5.5,47.3s5.9,14.1-5.4,26c-1.3,1.4-7.2-5.1-7.6-6.8
			c0.7,6.6-6.8-43.5-10.3-67"/>
		<path class="explainer_screen13st27" d="M552.9,462c1.8-8.1,11.1-59.9,13.4-61.5c2.5-1.8,12.3,1.1,12.1,2.9c-1,6.4-5.9,49.2-8.4,60.6"/>
	</g>
	<g id="neck">
		<path class="explainer_screen13st32" d="M606.8,506.2v5c0,2-5.2,8-6.5,8c-0.9,0-4.7-4-5.6-8s0-5,0-5H606.8z"/>
	</g>
	<g id="face">
		<path class="explainer_screen13st33" d="M619,474.9c0,0,1.8-11.5-2-18.1c0,0-4.3-7.7-12.8-8.8s-16.4,2.5-19.9,9.9c0,0-2.6,6.3-1.8,12.4
			s0.8,5.5,0.8,5.5s-0.6-0.7-1-0.5s-1.8,0.5-1.8,3.3s1,7.7,2.6,9.6s2.5,1.9,2.5,1.9s-0.6,5.6,5.1,12.4c5.4,6.3,6.9,6.6,9.7,6.6
			s8.2,0,14.6-11.8c0.9-2.5,1.5-5.1,1.8-7.7C617.2,484.7,618,479.7,619,474.9z"/>
		<path class="explainer_screen13st34" d="M619,475.2c0,0,2-0.3,2.3,2.8s-2.6,10.2-2.6,10.2s-1.8,1.9-2.3,1.6S616.9,477.7,619,475.2z"/>
		<path class="explainer_screen13st35" d="M618.6,478.1c0.1-2.5,0.4-4.9,0.9-7.3c0.5-1.6,0.5-12.6-5.4-17.9c0,0-1.5-1.1-1.8-0.3s-1,3.9,3.8,11
			c0,0,2,5.5,1.4,14.7c0,0.1-1.9,13.6-2.1,15.3c-0.9,2.5-2,5-3.3,7.4c-1.2,1.7-3.8,5.5-6.7,6.3c-2.5,0.7-4.6,1.4-8.2,0
			c-1.8-0.6-3.5-1.6-4.9-3c0,0,4.2,7.3,12.5,4.1c6.7-2.5,10.2-11.8,10.9-13.7c0.1-0.2,0.1-0.4,0.2-0.6
			C616.3,492.1,618,480.7,618.6,478.1z"/>
		<path class="explainer_screen13st35" d="M585,486.5c0.3-0.1-1.3-8.2-2.6-8.8c0,0-1.5,0.3-0.8,3.3c0.4,1.6,0.9,3.2,1.5,4.7
			C583.2,485.6,584,486.7,585,486.5z"/>
		<path class="explainer_screen13st35" d="M616.9,486c-0.3-0.1,1-8.3,2.2-8.9c0,0,1.5,0.2,0.9,3.3c-0.3,1.6-0.8,3.2-1.4,4.7
			C618.3,485.7,617.6,486.1,616.9,486z"/>
		<path class="explainer_screen13st36" d="M582.7,478.7c0,0-1.3,1-0.3,4.9c0,0-1.6-4.4-0.2-5.8C582.6,477.9,582.8,478.3,582.7,478.7z"/>
		<path class="explainer_screen13st36" d="M618.9,478.1c0,0,1.3,1,0.3,4.9c0,0,1.6-4.4,0.2-5.8C619,477.3,618.8,477.7,618.9,478.1z"/>
	</g>
	<g id="beard">
		<path class="explainer_screen13st37" d="M590.9,494.4c0,13.7,4,14.4,11.9,13.9s8-13.6,7.6-13.9C600.2,484.8,590.9,494.4,590.9,494.4z M592,494.7
			c0,0,7.4-6.2,17-0.2c0,0,0.8,11.5-6.4,12c0,0-1.3-2.2-1.1-3.6h-1.9c0,0,0,3.6-0.8,3.6S591.3,505.9,592,494.7z"/>
	</g>
	<g id="eyebrows">
		<path class="explainer_screen13st38" d="M588.6,475.6"/>
		<path class="explainer_screen13st39" d="M613.7,474.4c-1.1-1.2-2.6-2-4.2-2.3H609c-1.7,0.1-3.3,1-4.2,2.5c0,0-0.5-0.1-0.3-1.3
			c0.1-0.9,2.8-3.1,5.4-2.1C613.4,472.5,613.7,474.4,613.7,474.4z"/>
		<path class="explainer_screen13st39" d="M587.7,474.2c1.2-1.1,2.7-1.9,4.3-2.1h0.5c1.7,0.2,3.2,1.2,4.1,2.6c0,0,0.5,0,0.4-1.3
			c-0.1-0.9-2.6-3.2-5.3-2.3C588,472.3,587.7,474.2,587.7,474.2z"/>
	</g>
	<g id="hair">
		<path class="explainer_screen13st40" d="M617.4,483.6h-0.9c0,0,2.6-21.9-4.7-28c0,0-3.9,2.9-10.8,2.4c-3.8-0.2-7.5-1.3-10.8-3.3c0,0-8.6,2.4-6,28.5
			l-0.9,0.5l-0.4-4.8c-0.3-0.7-0.8-1.3-1.3-1.9c-0.9-1-1.3-15.7,0-19s9.9-11,19.8-11c5.2,0,10.8,1.4,16.9,8.1
			c0.9,0.9,1.4,2.1,1.5,3.4c0.7,6.5,0.5,13-0.7,19.4C619.1,477.9,616.9,477.4,617.4,483.6z"/>
	</g>
	<g id="mouth">
		<path class="explainer_screen13st41" d="M606.9,494.5c0,0-7.1,2.5-13.2,0C593.7,494.5,599.9,502.8,606.9,494.5z"/>
		<path class="explainer_screen13st42" d="M604.3,495.1v1.7c-2.1,1.7-5.1,1.8-7.4,0.3v-1.7C599.4,495.7,601.9,495.6,604.3,495.1z"/>
	</g>
	<g id="nose">
		<path class="explainer_screen13st43" d="M600.7,488.9c0.7,0,2.7-1.7,3.2-2.1l0.1,0.3c0,0-2.5,2.6-3.3,2.6s-3.3-2.6-3.3-2.6l0.1-0.3
			C598,487.2,600,488.9,600.7,488.9z"/>
	</g>
	<g id="Layer_29" data-name="Layer 29">
	

			<foreignObject x="890.06" y="445" width="1000" height="300">
		<textarea rows='1' id="benefit1" name="benefit1" transform="translate(1029.79 482.95)" class="" placeholder="Add your key benefit here"  onclick="dataPreview(this.id,80,'textarea')" onmouseover="mousehoverEvent(this.id)" onmouseleave ="mouseleaveEvent(this.id)" style='background:transparent;cursor: pointer;border:none;resize: none;width:800px;text-align:center;color:white;font-size:40px' readonly></textarea>
		</foreignObject>
		
		</g>
		<g id="Layer_28" data-name="Layer 28">
			 
			<foreignObject x="890.06" y="620" width="1000" height="300">
		<textarea rows='1' id="benefit2" name="benefit2" transform="translate(1029.79 482.95)" class="" placeholder="Add your key benefit here"  onclick="dataPreview(this.id,80,'textarea',0)" onmouseover="mousehoverEvent(this.id)" onmouseleave ="mouseleaveEvent(this.id)" style='background:transparent;cursor: pointer;border:none;resize: none;width:800px;text-align:center;color:white;font-size:40px' readonly></textarea>
		</foreignObject>
		</g>
		<g id="Layer_26-2" data-name="Layer 26-2">
			
			<foreignObject x="890.06" y="790" width="1000" height="300">
		<textarea rows='1' id="benefit3" name="benefit3" transform="translate(1029.79 482.95)" class="" placeholder="Add your key benefit here"  onclick="dataPreview(this.id,80,'textarea',0)" onmouseover="mousehoverEvent(this.id)" onmouseleave ="mouseleaveEvent(this.id)" style='background:transparent;cursor: pointer;border:none;resize: none;width:800px;text-align:center;color:white;font-size:40px' readonly></textarea>
		</foreignObject>
		</g>
	<g id="eyes">
		<path class="explainer_screen13st31" d="M588.8,479.1c0,0,4.3-4.6,7.8,0.5C597,480.2,591.3,481.2,588.8,479.1z"/>
		
			<ellipse transform="matrix(0.9998 -2.216387e-02 2.216387e-02 0.9998 -10.4671 13.2581)" class="explainer_screen13st46" cx="592.9" cy="478.8" rx="1.8" ry="1.6"/>
		
			<ellipse transform="matrix(0.9998 -2.216387e-02 2.216387e-02 0.9998 -10.4565 13.2635)" class="explainer_screen13st47" cx="593.1" cy="478.4" rx="1.3" ry="1.2"/>
		
			<ellipse transform="matrix(0.9998 -1.999600e-02 1.999600e-02 0.9998 -9.4693 11.9433)" class="st48" cx="592.5" cy="479.5" rx="0.7" ry="0.7"/>
		<path class="explainer_screen13st31" d="M605.2,479.4c0,0,4.2-5.1,8,0.2C613.7,480.2,607.8,481.5,605.2,479.4z"/>
		<ellipse class="explainer_screen13st46" cx="609.4" cy="478.9" rx="1.8" ry="1.8"/>
		<ellipse class="explainer_screen13st47" cx="609.7" cy="478.4" rx="1.4" ry="1.3"/>
		<ellipse class="explainer_screen13st48" cx="609.9" cy="478.1" rx="0.7" ry="0.8"/>
	</g>
</g>
<g id="Layer_2">
	
	<foreignObject x="-50" y="-65" width='1024' height='200' transform="matrix(0.9976 -6.975647e-02 6.975647e-02 0.9976 221.43 257.9)">
		<input type='text'  id="labelBenfit" name="labelBenfit"  class="explainer_screen13st4 explainer_screen13st5 explainer_screen13st49" placeholder="Adding to that now, he could also have"  onclick="dataPreview(this.id,40,'text',50)" onmouseover="mousehoverEvent(this.id)" onmouseleave ="mouseleaveEvent(this.id)" style='background:transparent;cursor:pointer;border:none;resize: none;width:948px;height:99px;text-align:center;color:white;overflow:hidden' readonly />
	</foreignObject>
			
	
</g>
</svg>
