<script src='js/filepaths.js'></script>
<?xml version="1.0" encoding="utf-8"? style='display:none'>
<!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1920 1080" style="enable-background:new 0 0 1920 1080;" xml:space="preserve" >
<style type="text/css">
	.explainer_screen1st0{display:none;}
	.explainer_screen1st1{fill:#FFFBF5;}
	.explainer_screen1st2{font-family:'SegoeUI-SemiBold';}
	.explainer_screen1st3{font-size:37px;}
	.explainer_screen1st4{font-family:'SegoeUI-Bold';}
	.explainer_screen1st5{font-size:60.0029px;}
	.explainer_screen1st6{font-size:40px;}
	.explainer_screen1st7{font-size:72px;}
	.explainer_screen1st8{fill:#F9F7F7;}
	.explainer_screen1st9{font-size:48px;}
#characterName::-webkit-input-placeholder
{
  color:white;
}

#characterName::-moz-placeholder { 
	color:#FFF;  
}
#labelcharacterName::-webkit-input-placeholder
{
  color:white;
}

#labelcharacterName::-moz-placeholder { 
	color:#FFF;  
}
#characterProfession::-webkit-input-placeholder
{
  color:white;
}

#characterProfession::-moz-placeholder { 
	color:#FFF;  
}
#labelcharacterProfession::-webkit-input-placeholder
{
  color:white;
}

#labelcharacterProfession::-moz-placeholder { 
	color:#FFF;  
}
</style>
<title>Sceen_01</title>

<g id="Layer_1_1_32">
	<g id="bg">
		<rect class="st0" id="backGrnd1" width="1920" height="1087"/>
	</g>
<g id="Appear_01">
	<g id="control_room">
		<g id="character">
			<g id="shadow_Image">
				
					<image style="overflow:visible;enable-background:new    ;" width="133" height="18" id="shadow_Image-2" xlink:href="/images/svgfiles/EC9E3D4E.png"  transform="matrix(1 0 0 1 486 802)">
				</image>
			</g>
			<g id="shadow_2_Image">
				
					<image style="overflow:visible;enable-background:new    ;" width="37" height="13" id="shadow_2_Image-2" xlink:href="/images/svgfiles/EC9E3D49.png"  transform="matrix(1 0 0 1 543 805)">
				</image>
			</g>
			<g id="shadow_3_Image">
				
					<image style="overflow:visible;enable-background:new    ;" width="40" height="14" id="shadow_3_Image-2" xlink:href="/images/svgfiles/EC9E3D4B.png"  transform="matrix(1 0 0 1 479 805)">
				</image>
			</g>
			<g id="collar_back">
				<g id="Shape_Layer_2_Image">
					
						<image style="overflow:visible;enable-background:new    ;" width="32" height="10" id="Shape_Layer_2_Image-2" xlink:href="/images/svgfiles/EC9E3D48.png"  transform="matrix(1 0 0 1 539 378)">
					</image>
				</g>
			</g>
			<g id="male_chest">
				<g id="Shape_Layer_3_Image">
					
						<image style="overflow:visible;enable-background:new    ;" width="119" height="194" id="Shape_Layer_3_Image-2" xlink:href="/images/svgfiles/EC9E3D56.png"  transform="matrix(1 0 0 1 496 383)">
					</image>
				</g>
			</g>
			<g id="shirt_left_fold_C">
				<g id="shirt_left_fold_Image">
					
						<image style="overflow:visible;enable-background:new    ;" width="9" height="37" id="shirt_left_fold_Image-2" xlink:href="/images/svgfiles/EC9E3D59.png"  transform="matrix(1 0 0 1 508 515)">
					</image>
				</g>
			</g>
			<g id="shirt_right_fold_C">
				<g id="shirt_left_fold_Image-3">
					
						<image style="overflow:visible;enable-background:new    ;" width="10" height="37" id="shirt_left_fold_Image-4" xlink:href="/images/svgfiles/EC9E3D5A.png"  transform="matrix(1 0 0 1 595 515)">
					</image>
				</g>
			</g>
			<g id="L_leg_ankle">
				<g id="Layer_4_footwear2_Outlines_Image">
					
						<image style="overflow:visible;enable-background:new    ;" width="30" height="33" id="Layer_4_footwear2_Outlines_Image-2" xlink:href="/images/svgfiles/EC9E3D58.png"  transform="matrix(1 0 0 1 484 783)">
					</image>
				</g>
			</g>
			<g id="L_leg_lower">
				<g id="L_leg_lower_skelton_Outlines_2_Image">
					
						<image style="overflow:visible;enable-background:new    ;" width="45" height="134" id="L_leg_lower_skelton_Outlines_2_Image-2" xlink:href="/images/svgfiles/32DEDC0D.png"  transform="matrix(1 0 0 1 487 662)">
					</image>
				</g>
			</g>
			<g id="L_leg_upper">
				<g id="L_leg_upper_male_Image">
					
						<image style="overflow:visible;enable-background:new    ;" width="54" height="140" id="L_leg_upper_male_Image-2" xlink:href="/images/svgfiles/32DEDC03.png"  transform="matrix(1 0 0 1 501 554)">
					</image>
				</g>
			</g>
			<g id="R_leg_ankle">
				<g id="Layer_4_footwear2_Outlines_Image-3">
					
						<image style="overflow:visible;enable-background:new    ;" width="31" height="33" id="Layer_4_footwear2_Outlines_Image-4" xlink:href="/images/svgfiles/32DEDC05.png"  transform="matrix(1 0 0 1 548 780)">
					</image>
				</g>
			</g>
			<g id="R_leg_lower">
				<g id="R_leg_lower_male_Image">
					
						<image style="overflow:visible;enable-background:new    ;" width="40" height="134" id="R_leg_lower_male_Image-2" xlink:href="/images/svgfiles/32DEDC07.png"  transform="matrix(1 0 0 1 547 658)">
					</image>
				</g>
			</g>
			<g id="R_leg_upper">
				<g id="L_leg_upper_male_Image-3">
					
						<image style="overflow:visible;enable-background:new    ;" width="48" height="140" id="L_leg_upper_male_Image-4" xlink:href="/images/svgfiles/32DEDC04.png"  transform="matrix(1 0 0 1 555 550)">
					</image>
				</g>
			</g>
			<g id="pelvis">
				<g id="pelvis_skelton_Outlines_3_Image">
					
						<image style="overflow:visible;enable-background:new    ;" width="93" height="45" id="pelvis_skelton_Outlines_3_Image-2" xlink:href="/images/svgfiles/32DEDC1C.png"  transform="matrix(1 0 0 1 510 547)">
					</image>
				</g>
				<g id="Shape_Layer_1_Image">
					
						<image style="overflow:visible;enable-background:new    ;" width="91" height="20" id="Shape_Layer_1_Image-2" xlink:href="/images/svgfiles/32DEDC1D.png"  transform="matrix(1 0 0 1 510 544)">
					</image>
				</g>
				<g id="Shape_Layer_2_Image-3">
					
						<image style="overflow:visible;enable-background:new    ;" width="80" height="19" id="Shape_Layer_2_Image-4" xlink:href="/images/svgfiles/32DEDC1F.png"  transform="matrix(1 0 0 1 512 546)">
					</image>
				</g>
				<g id="Shape_Layer_3_Image-3">
					
						<image style="overflow:visible;enable-background:new    ;" width="17" height="12" id="Shape_Layer_3_Image-4" xlink:href="/images/svgfiles/32DEDC1B.png"  transform="matrix(1 0 0 1 547 550)">
					</image>
				</g>
				<g id="Shape_Layer_4_Image">
					
						<image style="overflow:visible;enable-background:new    ;" width="91" height="13" id="Shape_Layer_4_Image-2" xlink:href="/images/svgfiles/32DEDC06.png"  transform="matrix(1 0 0 1 510 544)">
					</image>
				</g>
			</g>
			<g id="neck">
				<g id="neck_skelton_Outlines_Image">
					
						<image style="overflow:visible;enable-background:new    ;" width="25" height="62" id="neck_skelton_Outlines_Image-2" xlink:href="/images/svgfiles/32DEDC38.png"  transform="matrix(1 0 0 1 543 338)">
					</image>
				</g>
			</g>
			<g id="ties">
				<g id="Shape_Layer_1_Image-3">
					
						<image style="overflow:visible;enable-background:new    ;" width="28" height="119" id="Shape_Layer_1_Image-4" xlink:href="/images/svgfiles/32DEDC3B.png"  transform="matrix(1 0 0 1 542 397)">
					</image>
				</g>
				<g id="Shape_Layer_4_Image-3">
					
						<image style="overflow:visible;enable-background:new    ;" width="27" height="112" id="Shape_Layer_4_Image-4" xlink:href="/images/svgfiles/32DEDC39.png"  transform="matrix(1 0 0 1 543 399)">
					</image>
				</g>
			</g>
			<g id="male_chest_coat">
				<g id="male_open_coat_Image">
					
						<image style="overflow:visible;enable-background:new    ;" width="121" height="195" id="male_open_coat_Image-2" xlink:href="/images/svgfiles/32DEDC37.png"  transform="matrix(1 0 0 1 496 382)">
					</image>
				</g>
			</g>
			<g id="collar_front">
				<g id="Shape_Layer_4_Image-5">
					
						<image style="overflow:visible;enable-background:new    ;" width="41" height="38" id="Shape_Layer_4_Image-6" xlink:href="/images/svgfiles/32DEDC28.png"  transform="matrix(1 0 0 1 535 378)">
					</image>
				</g>
			</g>
			<g id="face">
				<g id="face_solid">
					<g id="face_solid_theface_Outlines_Image">
						
							<image style="overflow:visible;enable-background:new    ;" width="64" height="86" id="face_solid_theface_Outlines_Image-2" xlink:href="/images/svgfiles/32DEDC2B.png"  transform="matrix(1 0 0 1 524 299)">
						</image>
					</g>
				</g>
				<g id="nose">
					<g id="nose_theface_Outlines_Image">
						
							<image style="overflow:visible;enable-background:new    ;" width="13" height="5" id="nose_theface_Outlines_Image-2" xlink:href="/images/svgfiles/32DEDC29.png"  transform="matrix(1 0 0 1 549 359)">
						</image>
					</g>
				</g>
				<g id="right_eye">
					<g id="right_eye_socket_theface_Outlines_Image">
						
							<image style="overflow:visible;enable-background:new    ;" width="15" height="9" id="right_eye_socket_theface_Outlines_Image-2" xlink:href="/images/svgfiles/32DEDC2F.png"  transform="matrix(1 0 0 1 560 342)">
						</image>
					</g>
					<g id="right_eye_ball_Outlines_Image">
						
							<image style="overflow:visible;enable-background:new    ;" width="9" height="9" id="right_eye_ball_Outlines_Image-2" xlink:href="/images/svgfiles/32DEDC2A.png"  transform="matrix(1 0 0 1 564 341)">
						</image>
					</g>
					<g id="blink_Image">
						
							<image style="overflow:visible;enable-background:new    ;" width="16" height="8" id="blink_Image-2" xlink:href="/images/svgfiles/32DEDC15.png"  transform="matrix(1 0 0 1 560 341)">
						</image>
					</g>
				</g>
				<g id="left_eye">
					<g id="left_eye_socket_Outlines_Image">
						
							<image style="overflow:visible;enable-background:new    ;" width="15" height="9" id="left_eye_socket_Outlines_Image-2" xlink:href="/images/svgfiles/32DEDC4F.png"  transform="matrix(1 0 0 1 535 342)">
						</image>
					</g>
					<g id="left_eye_ball_Outlines_Image">
						
							<image style="overflow:visible;enable-background:new    ;" width="9" height="9" id="left_eye_ball_Outlines_Image-2" xlink:href="/images/svgfiles/32DEDC4D.png"  transform="matrix(1 0 0 1 538 341)">
						</image>
					</g>
					<g id="blink_Image-3">
						
							<image style="overflow:visible;enable-background:new    ;" width="15" height="8" id="blink_Image-4" xlink:href="/images/svgfiles/32DEDC73.png"  transform="matrix(1 0 0 1 535 340)">
						</image>
					</g>
				</g>
				<g id="mouth_expressions">
					<g id="male_ex08_Outlines_Image">
						
							<image style="overflow:visible;enable-background:new    ;" width="29" height="15" id="male_ex08_Outlines_Image-2" xlink:href="/images/svgfiles/32DEDC75.png"  transform="matrix(1 0 0 1 541 361)">
						</image>
					</g>
				</g>
				<g id="beard">
					<g id="S_0_Image">
						
							<image style="overflow:visible;enable-background:new    ;" width="27" height="24" id="S_0_Image-2" xlink:href="/images/svgfiles/32DEDC77.png"  transform="matrix(1 0 0 1 542 363)">
						</image>
					</g>
				</g>
				<g id="eyebrows">
					<g id="male_right_eye_brow_Outlines_Image">
						
							<image style="overflow:visible;enable-background:new    ;" width="19" height="6" id="male_right_eye_brow_Outlines_Image-2" xlink:href="/images/svgfiles/32DEDC72.png"  transform="matrix(1 0 0 1 559 337)">
						</image>
					</g>
					<g id="male_left_eye_brow_Outlines_Image">
						
							<image style="overflow:visible;enable-background:new    ;" width="20" height="6" id="male_left_eye_brow_Outlines_Image-2" xlink:href="/images/svgfiles/32DEDC71.png"  transform="matrix(1 0 0 1 532 337)">
						</image>
					</g>
				</g>
				<g id="hairs">
					<g id="hair3_Outlines_Image">
						
							<image style="overflow:visible;enable-background:new    ;" width="60" height="57" id="hair3_Outlines_Image-2" xlink:href="/images/svgfiles/32DEDC7D.png"  transform="matrix(1 0 0 1 526 298)">
						</image>
					</g>
				</g>
			</g>
			<g id="R_hand_upper_front">
				<g id="R_hand_upper_male_3_Image">
					
						<image style="overflow:visible;enable-background:new    ;" width="42" height="124" id="R_hand_upper_male_3_Image-2" xlink:href="/images/svgfiles/32DEDC7F.png"  transform="matrix(1 0 0 1 584 388)">
					</image>
				</g>
			</g>
			<g id="R_hand_palm_front">
				<g id="Layer_23_face_remains_Outlines_Image">
					
						<image style="overflow:visible;enable-background:new    ;" width="20" height="46" id="Layer_23_face_remains_Outlines_Image-2" xlink:href="/images/svgfiles/32DEDC70.png"  transform="matrix(1 0 0 1 604 582)">
					</image>
				</g>
			</g>
			<g id="R_hand_lower_front">
				<g id="R_hand_lower_skelton_Outlines_5_Image">
					
						<image style="overflow:visible;enable-background:new    ;" width="25" height="105" id="R_hand_lower_skelton_Outlines_5_Image-2" xlink:href="/images/svgfiles/32DEDC5E.png"  transform="matrix(1 0 0 1 601 487)">
					</image>
				</g>
			</g>
			<g id="L_hand_upper_front">
				<g id="L_hand_upper_skelton_Outlines_5_Image">
					
						<image style="overflow:visible;enable-background:new    ;" width="40" height="124" id="L_hand_upper_skelton_Outlines_5_Image-2" xlink:href="/images/svgfiles/32DEDC5D.png"  transform="matrix(1 0 0 1 486 388)">
					</image>
				</g>
			</g>
			<g id="L_hand_palm_front">
				<g id="Layer_23_face_remains_Outlines_Image-3">
					
						<image style="overflow:visible;enable-background:new    ;" width="20" height="46" id="Layer_23_face_remains_Outlines_Image-4" xlink:href="/images/svgfiles/32DEDC52.png"  transform="matrix(1 0 0 1 488 582)">
					</image>
				</g>
			</g>
			<g id="L_hand_lower_front">
				<g id="R_hand_lower_skelton_Outlines_5_Image-3">
					
						<image style="overflow:visible;enable-background:new    ;" width="25" height="105" id="R_hand_lower_skelton_Outlines_5_Image-4" xlink:href="/images/svgfiles/32DEDC55.png"  transform="matrix(1 0 0 1 486 487)">
					</image>
				</g>
			</g>
		</g>
	</g>
</g>
<g id="Shape_Layer_14_Image">
	
		<image style="overflow:visible;enable-background:new    ;" width="232" height="76" id="Shape_Layer_14_Image-2" xlink:href="/images/svgfiles/32DEDC56.png"  transform="matrix(1 0 0 1 925 578)">
	</image>
</g>
<g id="Shape_Layer_15_Image">
	
		<image style="overflow:visible;enable-background:new    ;" width="230" height="82" id="Shape_Layer_15_Image-2" xlink:href="/images/svgfiles/32DEDC54.png"  transform="matrix(1 0 0 1 918 569)">
	</image>
</g>
<g id="characterProfession_Image" class="explainer_screen1st0">
	
		<image style="display:inline;overflow:visible;enable-background:new    ;" width="245" height="43" id="characterProfession_Image-2" xlink:href="/images/svgfiles/32DEDC53.png"  transform="matrix(1 0 0 1 962 688)">
	</image>
</g>
<g id="HE_s_a_2_Image">
	
	

	<foreignObject x="-39" y="-50"width="1050" height="300" transform="matrix(0.9932 0.1166 -0.1166 0.9932 957.0002 618.0001)">
		<input type='text'  id="labelcharacterProfession" name="labelcharacterProfession"  class="explainer_screen1st8 explainer_screen1st4 explainer_screen1st9" placeholder="HE’s a"  onclick="dataPreview(this.id,8,'text',50)" onmouseover="mousehoverEvent(this.id)" onmouseleave ="mouseleaveEvent(this.id)" style='background:transparent;cursor:pointer;border:none;resize: none;width:228px;height:67px;text-align:center;color:white;overflow:hidden' readonly />
		</foreignObject>


</g>
<g id="Shape_Layer_1_Image-5">
	
		<image style="overflow:visible;enable-background:new    ;" width="379" height="123" id="Shape_Layer_1_Image-6" xlink:href="/images/svgfiles/32DEDC4B.png"  transform="matrix(1 0 0 1 927 373)">
	</image>
</g>
<g id="Shape_Layer_3_Image-5">
	
		<image style="overflow:visible;enable-background:new    ;" width="378" height="134" id="Shape_Layer_3_Image-6" xlink:href="/images/svgfiles/32DEDCA9.png"  transform="matrix(0.9992 0 0 0.9992 918 361)">
	</image>
</g>
<g id="MEET_Image">
	
	<!-- <text transform="matrix(0.9964 -8.443819e-02 8.443819e-02 0.9964 999.1626 466.5625)" class="explainer_screen1st7 explainer_screen1st4 explainer_screen1st8">MEET</text> -->
	<foreignObject x="-73.5" y="-80" width="1050" height="300" transform="matrix(0.9964 -8.443819e-02 8.443819e-02 0.9964 999.1626 466.5625)">
		<input type='text'  id="labelcharacterName" name="labelcharacterName"  class="explainer_screen1st7 explainer_screen1st4 explainer_screen1st8" placeholder="MEET"  onclick="dataPreview(this.id,10,'text',50)" onmouseover="mousehoverEvent(this.id)" onmouseleave ="mouseleaveEvent(this.id)" style='background:transparent;cursor:pointer;border:none;resize: none;width:368px;height:100px;text-align:center;color:white;overflow:hidden' readonly />
		</foreignObject>
</g>
<g>
<foreignObject x="865" y="510.2798" width="1050" height="300">
<input type='text' id="characterName" name="characterName" transform="matrix(1 0 0 1 946 547.2798)" class="explainer_screen1st1 explainer_screen1st2 explainer_screen1st3" placeholder="Character Name"  onclick="dataPreview(this.id,20,'text',50,'Character_name_at_fifthscreen')" onmouseover="mousehoverEvent(this.id)" onmouseleave ="mouseleaveEvent(this.id)" style='background:transparent;cursor: pointer;border:none;resize: none;width:450px;text-align:center;color: white;overflow:hidden' readonly />
</foreignObject>
</g>
<g id="Layer_2">
	<foreignObject x="836.1123" y="690.949" width="1050" height="300">
<input type='text' id="characterProfession" name="characterProfession" transform="matrix(1 0 0 1 954.1123 699.949)" class="explainer_screen1st1 explainer_screen1st4 explainer_screen1st6" placeholder="Profession"  onclick="dataPreview(this.id,20,'text',50)" onmouseover="mousehoverEvent(this.id)" onmouseleave ="mouseleaveEvent(this.id)" style='background:transparent;cursor: pointer;border:none;resize: none;width:450px;text-align:center;color: white;overflow:hidden' readonly />
</foreignObject>
	
</g>


</svg>
