<?xml version="1.0" encoding="utf-8"? style='display:none'>
<!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1920 1087" style="enable-background:new 0 0 1920 1087;" xml:space="preserve">
<style type="text/css">
	.explainer_screen2st0{fill:#62ACAB;}
	.explainer_screen2st1{fill:#FFFFFF;}
	.explainer_screen2st2{fill:#CE9A73;}
	.explainer_screen2st3{font-family:'SegoeUI-SemiBold';}
	.explainer_screen2st4{font-size:48px;}
	.explainer_screen2st5{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
	.explainer_screen2st6{fill:#C99262;}
	.explainer_screen2st7{fill:#FFFBF5;}
	.explainer_screen2st8{font-family:'SegoeUI-Bold';}
	.explainer_screen2st9{font-size:60.0174px;}
	#problemStatement::-webkit-input-placeholder
{
  color:#CE9A73;
}

#problemStatement::-moz-placeholder { 
	color:#CE9A73;  
}
#labelStrugglingTo::-webkit-input-placeholder
{
  color:white;
}

#labelStrugglingTo::-moz-placeholder { 
	color:white;  
}
</style>
<g id="Layer_1_1_">
	<title>Scene_07</title>
	<g id="bg">
		<rect class="explainer_screen2st0" id='backGrnd2' width="1920" height="1087"/>
	</g>
	<g id="Layer_4">
		<g id="profession_box_1_">
			<rect id="rec" x="1041" y="581.8" class="explainer_screen2st1" width="730.1" height="158.7"/>
		</g>
		<foreignObject x="1041" y="581.8" width="850" height="500">
<textarea rows='1' id="problemStatement" name="problemStatement" transform="matrix(1 0 0 1 1053.0237 639.2798)" class="explainer_screen2st2 explainer_screen2st3 explainer_screen2st4" placeholder="Provide your problem statement &#10;here"  onclick="dataPreview(this.id,80,'textarea',158.7)" onmouseover='mousehoverEvent(this.id)' onmouseleave ='mouseleaveEvent(this.id)' style='background-color:white;cursor:pointer;border:none;resize: none;width:730.1px;height:158.7px;text-align:center;color:#CE9A73;overflow:hidden' readonly ></textarea>
</foreignObject>


	</g>
	<g id="Layer_2">
		
			<rect x="1461.7" y="23.7" transform="matrix(7.724676e-02 -0.997 0.997 7.724676e-02 1013.3945 1879.4287)" class="explainer_screen2st5" width="120.6" height="737.1"/>
		<polygon class="explainer_screen2st5" points="1047,585.7 1764.7,557.4 1779.2,731.9 1061.5,760.3 		"/>
		
			<rect x="1465.8" y="28.1" transform="matrix(3.682296e-02 -0.9993 0.9993 3.682296e-02 1066.8818 1907.4293)" class="explainer_screen2st6" width="114.2" height="744.3"/>
	</g>
	<g id="Layer_3">
		<!-- <text transform="matrix(0.9986 5.379105e-02 -5.379105e-02 0.9986 1248.4504 402.9559)" class="explainer_screen2st7 explainer_screen2st8 explainer_screen2st9">He’s Struggling to</text> -->
		<foreignObject x="-99" y="-80" width="1050" height="300" transform="matrix(0.9986 5.379105e-02 -5.379105e-02 0.9986 1248.4504 402.9559)">
			<input type='text'  id="labelStrugglingTo" name="labelStrugglingTo"  class="explainer_screen2st7 explainer_screen2st8 explainer_screen2st9" placeholder="He’s Struggling to"  onclick="dataPreview(this.id,20,'text',50)" onmouseover="mousehoverEvent(this.id)" onmouseleave ="mouseleaveEvent(this.id)" style='background:transparent;cursor:pointer;border:none;resize: none;width:750px;height:125px;text-align:center;color:white;overflow:hidden' readonly />
			</foreignObject>
	</g>
</g>
<g id="Layer_2_1_">
	
		<image style="overflow:visible;enable-background:new    ;" width="967" height="1414" xlink:href="/images/svgfiles/Asset 1.png"  transform="matrix(1 0 0 1 -58 -515)">
	</image>
</g>
</svg>
