<?xml version="1.0" encoding="utf-8"? style='display:none'>
<!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1920 1084" style="enable-background:new 0 0 1920 1084;" xml:space="preserve">
<style type="text/css">
	.explainer_screen4st0{fill:#62ACAB;}
	.explainer_screen4st1{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
	.explainer_screen4st2{fill:#C99262;}
	.explainer_screen4st3{fill:#FCFCFC;}
	.explainer_screen4st4{font-family:'SegoeUI-Bold';}
	.explainer_screen4st5{font-size:34.0153px;}
	.explainer_screen4st6{fill:#5B9D9D;}
	.explainer_screen4st7{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:10;}
	.explainer_screen4st8{fill:#FFFFFF;}
	.explainer_screen4st9{font-size:58.9271px;}
	.explainer_screen4st10{fill:#F6F9FC;}
	.explainer_screen4st11{fill:none;stroke:#F6F9FC;stroke-width:4;stroke-miterlimit:10;}
	.explainer_screen4st12{fill:#76B6B7;fill-opacity:0.14;}
	.explainer_screen4st13{fill:none;stroke:#FFFFFF;stroke-width:5;stroke-miterlimit:10;}
	.explainer_screen4st14{font-size:30px;}
	.explainer_screen4st15{opacity:0.71;fill:#62ACAB;enable-background:new    ;}
	.explainer_screen4st16{opacity:0.67;fill:#62ACAB;enable-background:new    ;}
	.explainer_screen4st17{font-size:36.9023px;}
	#exploredOption3_1::-webkit-input-placeholder
{
  color:white;
  
}

#exploredOption3_1::-moz-placeholder { 
	color:#FFF;  
}
#labelLostControl::-webkit-input-placeholder
{
  color:white;
  
}

#labelLostControl::-moz-placeholder { 
	color:#FFF;  
}
</style>
<g id="Layer_1">
	<g>
		<g transform="translate(0 -1)">
			<g transform="translate(1065 35)">
				
					<image style="overflow:visible;enable-background:new    ;" width="300" height="230" id="image_2_" xlink:href="/images/svgfiles/B5EB0127.png"  transform="matrix(1 0 0 1 1065 35)">
				</image>
			</g>
		</g>
	</g>
	<g>
		<g transform="translate(0 -1)">
			<g transform="translate(746 161)">
				
					<image style="overflow:visible;enable-background:new    ;" width="300" height="230" id="image" xlink:href="/images/svgfiles/B5EB0125.png"  transform="matrix(1 0 0 1 746 161)">
				</image>
			</g>
		</g>
	</g>
	<g>
		<g transform="translate(0 -1)">
			
				<image style="overflow:visible;enable-background:new    ;" width="300" height="232" xlink:href="/images/svgfiles/B5EB012B.png"  transform="matrix(1 0 0 1 64 437)">
			</image>
		</g>
	</g>
	<g>
		<g transform="translate(0 -1)">
			
				<image style="overflow:visible;enable-background:new    ;" width="255" height="254" xlink:href="/images/svgfiles/B5EB012D.png"  transform="matrix(1 0 0 1 450 334)">
			</image>
		</g>
	</g>
	<title>template_1_preview_3</title>
	<g id="bg">
		<rect class="explainer_screen4st0" width="1920"  id='backGrnd4' height="1084"/>
	</g>
	<g id="name_box">
		
			<rect x="711" y="663.2" transform="matrix(0.9983 -5.843522e-02 5.843522e-02 0.9983 -38.8537 60.9186)" class="explainer_screen4st1" width="622.4" height="63.3"/>
		<polygon class="explainer_screen4st2" points="1339,739.3 697.9,716.6 703.1,639.9 1341.8,666.1 		"/>
	</g>
	<g id="Layer_10">
		<!-- <text transform="matrix(0.9996 2.998651e-02 -2.998651e-02 0.9996 711.3293 691.6599)" class="explainer_screen4st3 explainer_screen4st4 explainer_screen4st5" style='cursor: context-menu;'>And lost control on things to focus</text> -->
		<foreignObject x="-12" y="-50" width="1050" height="300" transform="matrix(0.9996 2.998651e-02 -2.998651e-02 0.9996 711.3293 691.6599)">
			<input type='text'  id="labelLostControl" name="labelLostControl"  class="explainer_screen3st7 explainer_screen3st8 explainer_screen3st9" placeholder="And lost control on things to focus"  onclick="dataPreview(this.id,40,'text',50)" onmouseover="mousehoverEvent(this.id)" onmouseleave ="mouseleaveEvent(this.id)" style='background:transparent;cursor:pointer;border:none;resize: none;width:640px;height:85px;text-align:center;color:white;overflow:hidden' readonly />
			</foreignObject>
	</g>
	<g id="magnified_rectangle">
		<path class="explainer_screen4st6" d="M487,536c0,0,155,47,218-101c0,0,25,91-63,139C626.3,582.6,553.7,605.5,487,536z"/>
		<line class="explainer_screen4st7" x1="489.5" y1="531.5" x2="695.5" y2="449.5"/>
		<polyline class="explainer_screen4st7" points="697.3,425.4 710.5,420.5 657.5,299.5 420.5,397.5 477.5,537.2 695.5,449.5 697.3,425.4 		"/>
	</g>
	<g id="magnifying_glass">
		<text transform="matrix(0.7736 -0.3215 0.3818 0.9243 463.5604 471.1297)" class="explainer_screen4st8 explainer_screen4st4 explainer_screen4st9">Option  4</text>
		<g>
			<path class="explainer_screen4st10" d="M577.5,335C508.2,335,452,391,452,460s56.2,125,125.5,125S703,529,703,460S646.8,335,577.5,335z
				 M577.1,573.8c-61.9,0-112.1-50-112.1-111.7s48.5-114.2,110.4-114.2s116.3,49.2,116.3,110.8S639,573.8,577.1,573.8z"/>
		</g>
		<path class="explainer_screen4st11" d="M683.6,535.7l11,6.3c0,0,5.5-15.9,9.3-17.5l-13.2-7.5C690.8,517,680.4,533.6,683.6,535.7z"/>
		<path class="explainer_screen4st11" d="M717.8,523.3l115.3,72.4c5.6,3.5,7.3,10.9,3.8,16.5l-6,9.5c-3.5,5.6-10.9,7.3-16.5,3.8l-115.3-72.4
			c-5.6-3.5-7.3-10.9-3.8-16.5l6-9.5C704.8,521.5,712.2,519.8,717.8,523.3z"/>
		<path class="explainer_screen4st12" d="M692.8,443.1c3.5,27.8-34.2,72.4-96.3,90.3c-128.7,37.2-134.4-48.3-132.1-92.8c1.5-28,45.5-104.9,135.3-90.9
			C638.9,355.8,687,396.6,692.8,443.1z"/>
		
			<image style="overflow:visible;enable-background:new    ;" width="119" height="139" xlink:href="/images/svgfiles/B5EB0139.png"  transform="matrix(1 0 0 1 618 454)">
		</image>
		
			<image style="overflow:visible;enable-background:new    ;" width="214" height="221" xlink:href="/images/svgfiles/B5EB0133.png"  transform="matrix(1 0 0 1 427 395)">
		</image>
		
			<image style="overflow:visible;enable-background:new    ;" width="297" height="203" xlink:href="/images/svgfiles/B5EB0134.png"  transform="matrix(1 0 0 1 431 376)">
		</image>
		
			<image style="overflow:visible;enable-background:new    ;" width="179" height="137" xlink:href="/images/svgfiles/B5EB0135.png"  transform="matrix(1 0 0 1 450 457)">
		</image>
		
			<image style="overflow:visible;enable-background:new    ;" width="296" height="149" xlink:href="/images/svgfiles/B5EB0136.png"  transform="matrix(1 0 0 1 436 365)">
		</image>
		
			<image style="overflow:visible;enable-background:new    ;" width="202" height="139" xlink:href="/images/svgfiles/4AF72AB8.png"  transform="matrix(1 0 0 1 470 308)">
		</image>
		
			<image style="overflow:visible;enable-background:new    ;" width="194" height="179" xlink:href="/images/svgfiles/4AF72AB9.png"  transform="matrix(1 0 0 1 534 355)">
		</image>
		
			<image style="overflow:visible;enable-background:new    ;" width="135" height="111" xlink:href="/images/svgfiles/4AF72AA8.png"  transform="matrix(1 0 0 1 448 398)">
		</image>
		
			<image style="overflow:visible;enable-background:new    ;" width="99" height="115" xlink:href="/images/svgfiles/4AF72AA9.png"  transform="matrix(1 0 0 1 468 458)">
		</image>
		
			<image style="overflow:visible;enable-background:new    ;" width="132" height="113" xlink:href="/images/svgfiles/4AF72AAB.png"  transform="matrix(1 0 0 1 448 329)">
		</image>
	</g>
	<g id="rectangle_1">
		<g>
			
				<rect x="85.2" y="485.8" transform="matrix(0.9261 -0.3774 0.3774 0.9261 -192.5326 121.5409)" class="explainer_screen4st0" width="257.4" height="132.6"/>
			
				<rect x="85.2" y="485.8" transform="matrix(0.9261 -0.3774 0.3774 0.9261 -192.5326 121.5409)" class="explainer_screen4st13" width="257.4" height="132.6"/>
		</g>
		<text transform="matrix(0.81 -0.3174 0.3649 0.9311 838.1707 310.1999)" class="explainer_screen4st8 explainer_screen4st4 explainer_screen4st14">Option 5</text>
	</g>
	<g id="rectangle_3">
		
		<foreignObject x="-110" y="548.8" width="400" height="500" style='-webkit-transform:rotate(-23deg)'>
<textarea rows='1' id="exploredOption3_1" name=""   class="explainer_screen4st8 explainer_screen4st4 explainer_screen4st14" placeholder="Option 3"  style='background:transparent;cursor: context-menu;border:none;resize:none;width:190px;height:200px;color:white;text-align:center;overflow:hidden' disabled readonly></textarea>
</foreignObject>
		<g>
			
				<rect x="767.2" y="208.8" transform="matrix(0.9276 -0.3735 0.3735 0.9276 -37.9151 354.505)" class="explainer_screen4st15" width="257.3" height="132.6"/>
			
				<rect x="767.2" y="208.8" transform="matrix(0.9276 -0.3735 0.3735 0.9276 -37.9151 354.505)" class="explainer_screen4st13" width="257.3" height="132.6"/>
		</g>
	</g>
	<g id="rectangle_4">
		<text transform="matrix(0.81 -0.3174 0.3649 0.9311 1151.1703 178.1995)" class="explainer_screen4st8 explainer_screen4st4 explainer_screen4st14">Option 6</text>
		<g>
			
				<rect x="1086.2" y="82.8" transform="matrix(0.9276 -0.3735 0.3735 0.9276 32.2292 464.5249)" class="explainer_screen4st16" width="257.3" height="132.6"/>
			
				<rect x="1086.2" y="82.8" transform="matrix(0.9276 -0.3735 0.3735 0.9276 32.2292 464.5249)" class="explainer_screen4st13" width="257.3" height="132.6"/>
		</g>
	</g>
</g>

</svg>
