<?xml version="1.0" encoding="utf-8"? style='display:none'>
<!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1920 1084" style="enable-background:new 0 0 1920 1084;" xml:space="preserve">
<style type="text/css">
	.explainer_screen6st0{fill:#62ACAB;}
	.explainer_screen6st1{fill:none;stroke:#FDFFFE;stroke-width:2;stroke-miterlimit:10;}
	.explainer_screen6st2{fill:none;stroke:#C79365;stroke-width:5;stroke-miterlimit:10;}
	.explainer_screen6st3{fill:#F7F9F9;}
	.explainer_screen6st4{font-family:'SegoeUI-Bold';}
	.explainer_screen6st5{font-size:48px;}
	 .image-upload > input
{
    display: none;
}

.image-upload img
{
   
    cursor: pointer;
}
#logo1:hover { 
  border: 7px solid #C1C0BF; 
}
	#productName::-webkit-input-placeholder
{
  color:white;
}

#productName::-moz-placeholder { 
	color:#FFF;  
}
#logo1 {object-fit: contain ;}
</style>
<g id="Layer_1_2_">
	<g id="Layer_1_1_">
		<title>template_1_preview_5</title>
		<g id="bg">
			<rect class="explainer_screen6st0"  id='backGrnd6' width="1920" height="1084"/>
		</g>
		<g id="circle">
			<circle class="explainer_screen6st1" cx="666.5" cy="542.5" r="132"/>
		</g>
		<g id="yellow_line">
			<line class="explainer_screen6st2" x1="837.5" y1="399" x2="838.5" y2="671.5"/>
		</g>
		<g id="Layer_5">
			<text transform="matrix(1 0 0 1 848.84 543.26)" class="explainer_screen6st3 explainer_screen6st4 explainer_screen6st5" style='cursor: context-menu;'>That is when he heard of </text>
			<text transform="matrix(1 0 0 1 1314.75 543.26)" class="explainer_screen6st3 explainer_screen6st4 explainer_screen6st5"> </text>
		
			<foreignObject x="860.76" y="555.8596" width="1050" height="300">
<input type='text' id="productName" name="productName" transform="matrix(1 0 0 1 1014.76 600.8596)" class="explainer_screen6st3 explainer_screen6st4 explainer_screen6st5" placeholder="Product Title"  onclick="dataPreview(this.id,20,'text',50,'productName_at_screen7','productname_at_fifteenthscreen')" onmouseover="mousehoverEvent(this.id)" onmouseleave ="mouseleaveEvent(this.id)" style='background:transparent;cursor: pointer;border:none;resize: none;width:470px;text-align:center;color:white' readonly />
</foreignObject>
		</g>
	</g>
	<g id="Layer_2">
	</g>
</g>
<g id="Layer_2_1_">
	<foreignObject x="575" y="452" width="210" height="210" id='fid'>
        <div class="image-upload">
    <label for="file-input_at_sixthscreen">
        <img src="/images/svgfiles/productLogo.png" transform="matrix(0.7094 0 0 0.752 578.6378 444)"  id="logo1"/>
    </label>

    <input id="file-input_at_sixthscreen" type="file"  accept=".png, .jpg, .jpeg"  onclick="imageUpload(this,'logo1','updated_crop_productLogo','fid_scrren6',180,180,'logo_at_eigth_screen_in_explainer','logo_at_fifteenth_screen_in_explainer')" onchange="imageUpload(this,'logo1','updated_crop_productLogo','fid_scrren6',180,180,'logo_at_eigth_screen_in_explainer','logo_at_fifteenth_screen_in_explainer')" />
</div>
        
</foreignObject>
		
</g>
</svg>