<?xml version="1.0" encoding="utf-8"? style='display:none'>
<!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1920 1082" style="enable-background:new 0 0 1920 1082;" xml:space="preserve">
<style type="text/css">
	.explainer_screen9st0{fill:#62ACAB;}
	.explainer_screen9st1{fill:#FFFFFF;}
	.explainer_screen9st2{fill:none;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}
	.explainer_screen9st3{fill:#C99263;stroke:#F7F6F5;stroke-width:3;stroke-miterlimit:10;}
	.explainer_screen9st4{fill:#F7F6F5;}
	.explainer_screen9st5{fill:#F7F7F7;}
	.explainer_screen9st6{font-family:'SegoeUI-Bold';}
	.explainer_screen9st7{font-size:37px;}
	#keyFeature1::-webkit-input-placeholder
{
  color:white;
}

#keyFeature1::-moz-placeholder { 
	color:#FFF;  
}
#keyFeature2::-webkit-input-placeholder
{
  color:white;
}

#keyFeature2::-moz-placeholder { 
	color:#FFF;  
}
#keyFeature3::-webkit-input-placeholder
{
  color:white;
}

#keyFeature3::-moz-placeholder { 
	color:#FFF;  
}
#keyFeature4::-webkit-input-placeholder
{
  color:white;
}

#keyFeature4::-moz-placeholder { 
	color:#FFF;  
}

</style>
<title>template_1_preview_8</title>
<g id="bg">
	<rect y="0" class="explainer_screen9st0" id='backGrnd9' width="1920" height="1082"/>
</g>
<g id="Layer_2">
	<polygon class="explainer_screen9st1" points="327.5,728.5 327.5,879.5 373.5,907.5 373.5,711.5 	"/>
	<path class="explainer_screen9st2" d="M539.5,724.5l-166-13v195.2l168-12C541.5,894.7,536.8,721.8,539.5,724.5z"/>
	<polygon class="explainer_screen9st2" points="373.5,712.5 410.5,799.5 597.5,798.5 539.5,724.5 	"/>
	<polygon class="explainer_screen9st1" points="374,711 305,759 275,766 328,728 	"/>
	<circle class="explainer_screen9st3" cx="212.5" cy="311.5" r="36"/>
	<circle class="explainer_screen9st3" cx="424.5" cy="382.5" r="36"/>
	<circle class="explainer_screen9st3" cx="308.5" cy="611.5" r="36"/>
	<circle class="explainer_screen9st3" cx="504.5" cy="610.5" r="36"/>
	<circle class="explainer_screen9st3" cx="795.5" cy="473.5" r="34"/>
	<circle class="explainer_screen9st3" cx="787.5" cy="639.5" r="34"/>
	<circle class="explainer_screen9st3" cx="787.5" cy="805.5" r="34"/>
	<circle class="explainer_screen9st3" cx="789.5" cy="298.5" r="32"/>
	<circle class="explainer_screen9st3" cx="623.5" cy="194.5" r="26"/>
	<circle class="explainer_screen9st3" cx="626.5" cy="522.5" r="26"/>
	<circle class="explainer_screen9st3" cx="179.5" cy="547.5" r="26"/>
	<path class="explainer_screen9st4" d="M205.5,313c0,0-9-7-8-7h12l3-10l4,10l10,1l-7,6l3,11l-9-6l-10,8L205.5,313z"/>
	<path class="explainer_screen9st4" d="M419.5,384c0,0-9-7-8-7h12l3-10l4,10l10,1l-7,6l3,11l-9-6l-10,8L419.5,384z"/>
	<path class="explainer_screen9st4" d="M300.5,612c0,0-9-7-8-7h12l3-10l4,10l10,1l-7,6l3,11l-9-6l-10,8L300.5,612z"/>
	<path class="explainer_screen9st4" d="M498.5,611c0,0-9-7-8-7h12l3-10l4,10l10,1l-7,6l3,11l-9-6l-10,8L498.5,611z"/>
	<path class="explainer_screen9st4" d="M789,475c0,0-8.2-6.9-7.2-6.9h10.8l2.7-9.9l3.6,9.9l9.1,1l-6.3,5.9l2.7,10.8l-8.2-5.9l-9.1,7.9L789,475z"/>
	<path class="explainer_screen9st4" d="M620.9,523.6c0,0-6.9-5.8-6.1-5.8h9.2l2.3-8.4l3.1,8.4l7.7,0.8l-5.4,5l2.3,9.2l-6.9-5l-7.7,6.7L620.9,523.6z"
		/>
	<path class="explainer_screen9st4" d="M617.9,195.8c0,0-6.9-5.9-6.1-5.9h9.2l2.3-8.4l3.1,8.4l7.7,0.8l-5.4,5l2.3,9.2l-6.9-5l-7.7,6.7L617.9,195.8z"
		/>
	<path class="explainer_screen9st4" d="M175.9,547.8c0,0-6.9-5.8-6.1-5.8h9.2l2.3-8.3l3.1,8.3l7.7,0.8l-5.4,5l2.3,9.2l-6.9-5l-7.7,6.7L175.9,547.8z"
		/>
	<path class="explainer_screen9st4" d="M783.5,299.7c0,0-8.2-6.9-7.2-6.9h10.9l2.7-9.9l3.6,9.9l9.1,1l-6.3,5.9l2.7,10.8l-8.2-5.9l-9.1,7.9
		L783.5,299.7z"/>
	<path class="explainer_screen9st4" d="M781.7,638.6c0,0-8.2-6.9-7.2-6.9h10.9l2.7-9.8l3.6,9.8l9.1,1l-6.3,5.9l2.7,10.8l-8.1-5.9l-9.1,7.9
		L781.7,638.6z"/>
	<path class="explainer_screen9st4" d="M781.7,803.9c0,0-8.2-6.9-7.2-6.9h10.9l2.7-9.8l3.6,9.8l9.1,1l-6.3,5.9l2.7,10.8l-8.1-5.9l-9.1,7.9
		L781.7,803.9z"/>
</g>

<g id="Layer_7">
<foreignObject x="870" y="260" width="1050" height="300">
<textarea rows='1' id="keyFeature1" name="keyFeature1" transform="matrix(1 0 0 1 873.79 294.95)" class="explainer_screen9st5 explainer_screen9st6 explainer_screen9st7" placeholder="Add your key feature here"  onclick="dataPreview(this.id,80,'textarea',0)" onmouseover="mousehoverEvent(this.id)" onmouseleave ="mouseleaveEvent(this.id)" style='background:transparent;cursor: pointer;border:none;resize: none;width:800px;height:50px;text-align:center;color:white;overflow: hidden;' readonly></textarea>
</foreignObject>
</g>
<g id="Layer_6">
	<foreignObject x="870" y="445.95" width="1050" height="300">
<textarea rows='1' id="keyFeature2" name="keyFeature2" transform="matrix(1 0 0 1 882.79 479.95)" class="explainer_screen9st5 explainer_screen9st6 explainer_screen9st7" placeholder="Add your key feature here"  onclick="dataPreview(this.id,80,'textarea',0)" onmouseover="mousehoverEvent(this.id)" onmouseleave ="mouseleaveEvent(this.id)" style='background:transparent;cursor: pointer;border:none;resize:none;width:800px;height:50px;text-align:center;color:white;overflow: hidden;' readonly></textarea>
</foreignObject>
</g>
<g id="Layer_5">
	
	<foreignObject x="870" y="620.95" width="1050" height="300">
<textarea rows='1' id="keyFeature3" name="keyFeature3" transform="matrix(1 0 0 1 873.79 650.95)" class="explainer_screen9st5 explainer_screen9st6 explainer_screen9st7" placeholder="Add your key feature here"  onclick="dataPreview(this.id,80,'textarea',0)" onmouseover="mousehoverEvent(this.id)" onmouseleave ="mouseleaveEvent(this.id)" style='background:transparent;cursor: pointer;border:none;resize:none;width:800px;height:50px;text-align:center;color:white;overflow: hidden;' readonly></textarea>
</foreignObject>
</g>

<g id="Layer_26">
	
	<foreignObject x="870" y="788.95" width="1050" height="300">
<textarea rows='1' id="keyFeature4" name="keyFeature4" transform="matrix(1 0 0 1 881.79 822.95)" class="explainer_screen9st5 explainer_screen9st6 explainer_screen9st7" placeholder="Add your key feature here"  onclick="dataPreview(this.id,80,'textarea',0)" onmouseover="mousehoverEvent(this.id)" onmouseleave ="mouseleaveEvent(this.id)" style='background:transparent;cursor: pointer;border:none;resize:none;width:800px;height:50px;text-align:center;color:white;overflow: hidden;' readonly></textarea>
</foreignObject>
</g>
</svg>
