<?xml version="1.0" encoding="utf-8"? style='display:none'>
<!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 1923 1082" style="enable-background:new 0 0 1923 1082;" xml:space="preserve">
<style type="text/css">
    .screen2st0{fill:#E6E6E6;}
    .screen2st1{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
    .screen2st2{fill:#E8AA73;}
    .screen2st3{fill:#DB9E6B;}
    .screen2st4{fill:#E1E1E1;}
    .screen2st5{fill:#CFD6D6;}
    .screen2st6{fill:#559593;}
    .screen2st7{fill:#B3C0BF;}
    .screen2st8{fill:#5D9693;}
    .screen2st9{fill:#DDDDDD;}
    .screen2st10{fill:#599895;}
    .screen2st11{font-family:'SegoeUI-Bold';}
    .screen2st12{font-size:73px;}
    .screen2st13{fill:none;stroke:#589B97;stroke-width:7;stroke-miterlimit:10;}
    .screen2st14{fill:#4A4A4A;}
    .screen2st15{font-size:51.2804px;}


 #visionStatement
{
   
    cursor: pointer;
} 


#visionStatement::-webkit-input-placeholder
{
  color: black ;
}
#visionStatement::-moz-placeholder
{
  color:black;
}


#missionStatement
{
   
    cursor: pointer;
} 


#missionStatement::-webkit-input-placeholder
{
  color: black ;
}
#missionStatement::-moz-placeholder
{
  color:black;
}


</style>
<g id="BG">
    <g id="Layer_1_1_">
        <title>02</title>
        <g id="bg">
            <rect class="screen2st0" width="1919" height="1077"/>
        </g>
        <g id="running_man">
            <path class="screen2st1" d="M1410.1,440.9c-1.9,4.7-4.2,11.4-3.6,15.6c0,0-1,7-2,11s3,3,3,3s-2,6,0,8s0,7,2,8c1.3,0.7,5.4-0.9,7.9-2
                c1.2-0.5,2.6,0,3.2,1.2c1.1,2.2,2.5,5.6,1.9,6.9c-1,2-4,12-5,19c-1,7-12,15-8,29l4,11h-22c0,0-5-12-11-10c-5.3,1.6-9,6.5-9,12
                c0,5,12,8,16,8c3.6,0,28.4,9.1,29,9c0,0-2,33,3,44s3,13,3,13s-18,12-31,51c0,0-5,6-5,11s3,17,2,21s-6,43-7,52l-5.7,18.6
                c-1.2,3.7-4.1,6.6-7.8,7.8c-2.6,0.8-5.9,2.7-9.4,6.6c0,0-19-5-22-1s-4,8,3,14c0,0,15.3,9,27.9,5.7l0,0c1.4-0.4,2.9-0.3,4.3,0.1
                c4.9,1.5,16.5,4.4,22.7,1.3c0,0,4-11-6-24c0,0,6-27,12-38s15-47,8-55l37-42c0,0,15,45,33,57c0,0,8,6,21,5c0,0,32,14,46,19
                c0,0,12,9,19,17s7,7,14,11s13,12,17,14s8,0,8-3c0-2.5-1.4-15-8.5-24.9c-2.5-3.6-3.8-7.8-3.6-12.2c0.1-4.9-0.9-11.1-5.9-15
                c-9-7-18,11-18,11s-21-14-25-19s-18-20-46-21c0,0-7-8-7-14s-9.3-29.7-13-39c-2-5,0.2-19-1-25c-3-15-11-21-19-27c0,0-4-17-1-21
                s32-11,38-17c3.5-3.5,6-8,5-12c-0.6-2.5-4.4-7.4-8.8-11.6c-4.8-4.6-8.9-9.8-12.2-15.5c-3-5.4-7.1-10.1-11.9-13.9
                c-5.8-4.4-12-8.2-18.5-11.4c-2.2-1.1-3.7-3.2-3.9-5.6c-0.4-5.1-0.9-13.9,0.4-17.9c2-6,8-20-1-27c-6.9-5.4-13.2-7.8-23.9-4.4
                C1414.8,434.3,1411.6,437.2,1410.1,440.9z"/>
            <path class="screen2st1" d="M1454.5,554.5c0,0,2-6,4-8c3.7-4.2,6.7-8.9,9-14c1.2-2.9,12,10,12,10L1454.5,554.5z"/>
        </g>
        <g id="hand">
            <path class="screen2st2" d="M1921,957c-106.6-68.4-269.2-163.7-273.7-167.5c-36.6-34.8-95.3-29.2-138.7,5.9c-2.1,1.7-4.2,3.5-6.2,5.3
                c-19.4,24.6-80.7-4.4-154.9,19c0,0-15.7,7.4-48.5,6.4s-92.2-1.6-97.7,2.1c-5,3.3-17,13.8-18.3,28.1c0,0.2,0,0.4,0,0.6
                c-0.1,1.2-0.1,2.5,0,3.7c0,0,5.4,1.9,21.4,4.7c7.4,1.3,17.2,2.8,29.7,4.5c39.6,5.2,38.4,9.3,59.6,13.2s58.5,18.5,66.4,20.8
                s43.9,9.7,74.4,24.2s37.3-0.3,54.7-3.9s74.6-15.4,92.1-14.5s55.8,9.7,72.2,19.9c6.3,4,116,94.8,183.7,152.4l84-3L1921,957z"/>
            <path class="screen2st3" d="M1266,832l-3.1-0.3c23.6-1.9,54.5-3.7,54.5-3.7L1266,832z"/>
            <path class="screen2st3" d="M1198.1,832.7c-10.9,3-15,23.4-15,23.4c0.2-1.8,5-25.4,17-28s84.9-1.7,84.9-1.7S1209,829.6,1198.1,832.7z"/>
            <path class="screen2st3" d="M1875,1081c-94.2-68.2-243.4-181.3-248.1-183.1c-9.8-3.8-29.1-9.5-29.8-16.3l-1.2-10.7
                c0,0-68.6,34.6-82.5,36s-12.1,5.2-20.5,6.4s-31.6,2.3-42.6,5.6s-66.6-22.5-76.5-23.9s-64.2-20.5-71.6-21.8s-91.5-10.8-93.3-11.2
                c-1.5-0.3-2.4-1.1-4.3-2c4.9-19.9,25.9-23.5,32.2-25.5c2.3-0.7,13.1-1.8,26-2.8c-56.5-4.8-59.8,19.1-59.2,27.9
                c-2.7-1-20.6-3.6-20.6-3.6l-0.2,0.3c-0.1,1.4-0.2,2.9-0.1,4.3c0,0,11.5,4.1,51.1,9.2s38.4,9.3,59.6,13.2s58.5,18.5,66.4,20.8
                s43.9,9.7,74.4,24.2s37.3-0.3,54.7-3.9s74.6-15.4,92.1-14.5s55.8,9.7,72.2,19.9c6.3,4,110,91.8,177.7,149.4L1875,1081z"/>
            <path class="screen2st3" d="M1528.3,888.1c0,1-0.3,2.1-0.8,3l1.6,0.3L1528.3,888.1z"/>
            <path class="screen2st3" d="M1354,845.2c0.1,0.6,0.3,1.2,0.6,1.8C1354.4,846.4,1354.2,845.8,1354,845.2z"/>
            <path class="screen2st3" d="M1426.7,815.4c32.1,3.7,44.1,3.1,57.6-1.8s21.6-16.1,21.6-16.1s0.3,1,0.8,2.7c-2.2,8.3-28.2,25.5-74.1,19.7
                s-63.8,1-69.7,1.5C1368.4,816,1394.6,811.7,1426.7,815.4z"/>
            <path class="screen2st3" d="M1372.3,856.3c4.4,1.3,55.4,24.9,63.5,26.7s45.9,2.9,50.6,2.3c4.1-0.6,33.9,4.5,41.1,5.8
                c-0.2,0.3-0.5,0.5-0.9,0.6c-9,1.9-84.3-2.7-88.6-3.2s-72.4-21.6-81.4-37.5c-0.7-1.3-1.4-2.6-1.9-4
                C1358,852.9,1368,855.1,1372.3,856.3z"/>
            <path class="screen2st3" d="M1357.1,827.8c-2.5,5.4-4.1,13-3.1,17.3C1351.9,839.3,1353.1,832.7,1357.1,827.8z"/>
            <path class="screen2st3" d="M1363,821.4c-2.2,2-4.2,4.1-6,6.4C1358.8,824.2,1360.9,821.6,1363,821.4z"/>
            <path class="screen2st3" d="M1921,957c-106.6-68.4-269.2-163.7-273.7-167.5c-9.6-9.2-21.4-15.9-34.1-19.7c-0.7-0.5-1.4-0.9-2.2-1.2
                c0,0,0.3,0.3,0.9,0.8c-33.1-9.2-72.2,0.8-103.3,26c-1.1,2.9-1.8,4.8-1.8,4.8c46.4-34.6,101.4-28,108.3-26.9
                c2.9,4.3,6.4,11.6,6.6,22.4c0.4,18.8-0.1,25.3-9.2,39.2s-11,30.8-11,30.8s10.4-14.7,19.7-28.7c7.7-11.6,11-32,7.8-45.5
                c3-3.3,17.6,5.5,24.2,11.3C1657,806.3,1813.3,919,1919,987L1921,957z"/>
            <path class="screen2st4" d="M1384.4,826.6c0.9,0.2,1.4,1,1.4,1.9c0.3,6.5,0.8,28.9-2.7,29.7c-3.9,0.9-22.9-3.3-25.5-9.1
                s-5.4-16.5,2.9-20.6C1367.4,825.1,1380.3,826.1,1384.4,826.6z"/>
            <path class="screen2st4" d="M1182.9,860.6c0,0,5.4,1.9,21.4,4.7c0,0-10.9-8.2-17.1-8.8c-1.4-0.2-2.9-0.1-4.3,0.3
                C1182.6,858.1,1182.6,859.4,1182.9,860.6z"/>
            <path class="screen2st4" d="M1204.1,862.7l18.3,5.5l-18.1-2.9C1203.9,864.5,1203.8,863.6,1204.1,862.7z"/>
        </g>
        <g id="grey_prlgrm">
            <polygon class="screen2st5" points="329.2,229.9 114.7,229.9 35.5,293.5 1921,293.5 1921,228.6           "/>
        </g>
        <g id="green_prlgrm_1">
            <polygon class="screen2st6" points="361.6,207 275.5,273 1921,274 1920,205          "/>
        </g>
        <g id="grey_green_prlgrm_2">
            <polygon class="screen2st7" points="163.5,86 129.5,86 195.5,148 1910.5,140 1907.5,74           "/>
        </g>
        <g id="green_prlgrm">
            <polygon class="screen2st8" points="324.6,81 164.5,81 231.1,150 374.4,149 1919,143 1919,82             "/>
        </g>
        <g id="bigger_prlgrm">
            <polygon class="screen2st9" points="305.5,55.7 449,229 1923,229 1920,54.5          "/>
        </g>
        <g id="thinner_prlgrm_1">
            <polygon class="screen2st6" points="521.5,216.5 513.5,205.5 1919,205.5 1920.5,217.5            "/>
        </g>
        <g id="TEXT">
            <text transform="matrix(1 0 0 1 588.6 186.54)" class="screen2st10 screen2st11 screen2st12">VISION AND MISSION</text>
        </g>
        <g id="Layer_11">
            <line class="screen2st13" x1="1103.5" y1="451" x2="1103.5" y2="948"/>
        </g>
        <g id="circles">
            <circle class="screen2st14" cx="286" cy="899" r="4"/>
            <ellipse class="screen2st14" cx="325" cy="899.5" rx="11" ry="11.5"/>
            <circle class="screen2st14" cx="365" cy="900" r="13"/>
            <circle class="screen2st14" cx="405" cy="900" r="6"/>
            <circle class="screen2st14" cx="441" cy="901" r="4"/>
        </g>
    </g>
</g>
<g id="Mission_1_">
     <foreignObject class='screen2st7 screen2st19' x="100" y="350" width="850" height="200" >
        

<textarea rows='1' id='missionStatement' name='missionStatement'   placeholder="Provide your mission statement." onclick="dataPreview(this.id,25,'textarea',50)"    onmouseover='mousehoverEvent(this.id)' onmouseleave ='mouseleaveEvent(this.id)'  style='color:black; background:transparent;cursor: pointer; border:none; resize: none; font-size: 35px; width:850px; height:100px; text-align:center; resize: none;' readonly></textarea>

          </foreignObject>
   
</g>



<g id="Vission_1_">
    <foreignObject class='screen2st7 screen2st19' x="100" y="600" width="850" height="200" >

       <textarea rows='1' id='visionStatement' name='visionStatement'  onclick="dataPreview(this.id,25,'textarea',50)"     onmouseover='mousehoverEvent(this.id)' onmouseleave ='mouseleaveEvent(this.id)'  style='color:black; background:transparent;cursor: pointer; border:none; resize: none; font-size: 35px; width:850px; height:100px; text-align:center; resize: none;' placeholder="Provide your vision statement." readonly></textarea>
          </foreignObject>
    <!-- <text id="Vission" transform="matrix(0.7379 0 0 1 239 536.5938)" class="st11 st15">Provide your vision statement.</text> -->
</g>
</svg>