<?xml version="1.0" encoding="utf-8"? style='display:none'>
<!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 1923 1077" style="enable-background:new 0 0 1923 1077;" xml:space="preserve">
<style type="text/css">
    .screen3st0{fill:#E6E6E6;}
    .screen3st1{fill:#CFD6D6;}
    .screen3st2{fill:#559593;}
    .screen3st3{fill:#B3C0BF;}
    .screen3st4{fill:#5D9693;}
    .screen3st5{fill:#DDDDDD;}
    .screen3st6{fill:#599895;}
    .screen3st7{font-family:'SegoeUI-Bold';}
    .screen3st8{font-size:73px;}
    .screen3st9{fill:none;stroke:#589B97;stroke-width:7;stroke-miterlimit:10;}
    .screen3st10{fill:#4A4A4A;}
    .screen3st11{fill:none;stroke:#5A9A97;stroke-width:6;stroke-miterlimit:10;}
    .screen3st12{fill:#FCFCFC;}
    .screen3st13{fill:#FCFAFA;}
    .screen3st14{font-family:'ArialMT';}
    .screen3st15{font-size:47.7495px;}
    .screen3st16{font-size:36px;}


    #companyPhilosophy
{
   
    cursor: pointer;
} 


#companyPhilosophy::-webkit-input-placeholder
{
  color: black ;
}
#companyPhilosophy::-moz-placeholder
{
  color:black;
}

</style>
<g id="BG_1_">
    <g id="BG">
        <g id="Layer_16">
            <title>03</title>
        </g>
        <g id="Layer_15_1_">
            <g id="bg">
                <rect class="screen3st0" width="1919" height="1077"/>
            </g>
        </g>
        <g id="Layer_14_1_">
            <g id="grey_prlgrm">
                <polygon class="screen3st1" points="329.2,229.9 114.7,229.9 35.5,293.5 1921,293.5 1921,228.6               "/>
            </g>
        </g>
        <g id="Layer_13_1_">
            <g id="green_prlgrm_1">
                <polygon class="screen3st2" points="361.6,207 275.5,273 1921,274 1920,205              "/>
            </g>
        </g>
        <g id="Layer_12">
            <g id="grey_green_prlgrm_2">
                <polygon class="screen3st3" points="163.5,86 129.5,86 195.5,148 1910.5,140 1907.5,74               "/>
            </g>
        </g>
        <g id="Layer_11_1_">
            <g id="green_prlgrm">
                <polygon class="screen3st4" points="324.6,81 164.5,81 231.1,150 374.4,149 1919,143 1919,82                 "/>
            </g>
        </g>
        <g id="Layer_10">
            <g id="bigger_prlgrm">
                <polygon class="screen3st5" points="305.5,55.7 449,229 1923,229 1920,54.5              "/>
            </g>
        </g>
        <g id="Layer_9">
            <g id="thinner_prlgrm_1">
                <polygon class="screen3st2" points="521.5,216.5 513.5,205.5 1919,205.5 1920.5,217.5                "/>
            </g>
        </g>
        <g id="Layer_8">
            <g id="TEXT">
                <text transform="matrix(1 0 0 1 732.63 186.54)" class="screen3st6 screen3st7 screen3st8">WHO WE ARE</text>
            </g>
        </g>
        <g id="Layer_7">
            <g id="Layer_11">
                <line class="screen3st9" x1="1103.5" y1="451" x2="1103.5" y2="948"/>
            </g>
        </g>
        <g id="Layer_6">
            <g id="circles">
                <circle class="screen3st10" cx="286" cy="899" r="4"/>
                <ellipse class="screen3st10" cx="325" cy="899.5" rx="11" ry="11.5"/>
                <circle class="screen3st10" cx="365" cy="900" r="13"/>
                <circle class="screen3st10" cx="405" cy="900" r="6"/>
                <circle class="screen3st10" cx="441" cy="901" r="4"/>
            </g>
        </g>
        <g id="Layer_5">
            <g id="Layer_14">
                <line class="screen3st11" x1="1287" y1="684" x2="1306" y2="673"/>
                <line class="screen3st11" x1="1287" y1="705" x2="1308" y2="689"/>
                <line class="screen3st11" x1="1287" y1="723" x2="1308" y2="707"/>
                <line class="screen3st11" x1="1284" y1="749" x2="1307" y2="726"/>
                <line class="screen3st11" x1="1289" y1="762" x2="1311" y2="744"/>
                <path class="screen3st12" d="M1297.4,655.9c-21.9,0-39.7-16.3-39.7-36.4s17.8-36.4,39.7-36.4s39.7,16.3,39.7,36.4
                    S1319.3,655.9,1297.4,655.9z"/>
                <path d="M1297.4,584.7c21.1,0,38.2,15.6,38.2,34.9s-17.2,34.9-38.2,34.9s-38.2-15.6-38.2-34.9S1276.4,584.7,1297.4,584.7
                     M1297.4,581.7c-22.8,0-41.2,17-41.2,37.9s18.4,37.9,41.2,37.9s41.2-17,41.2-37.9S1320.2,581.7,1297.4,581.7z"/>
                <polygon class="screen3st12" points="1244.1,834.5 1192.8,752.8 1244.1,671.2 1275.2,671.2 1282,663.6 1288.3,670.2 1279.7,750.6 
                    1296.2,768.8 1313,751.8 1306.4,670.3 1312.9,663.6 1319.6,671.2 1346.9,671.2 1398.2,752.8 1346.9,834.5               "/>
                <path d="M1282,665.8l4.7,4.9l-8.4,79l-0.1,1.3l0.9,1l15,16.5l2.1,2.3l2.2-2.3l15.2-15.3l1-1l-0.1-1.4l-6.5-80.1l4.9-5l5.1,5.8
                    l0.9,1h27.2l50.4,80.2l-50.4,80.2h-101.2l-50.4-80.2l50.4-80.2h30.9l0.9-1L1282,665.8 M1313,661.4l-8.1,8.3l6.5,81.5l-15.2,15.3
                    l-15-16.5l8.6-80.4l-7.9-8.3l-7.5,8.3h-31.2l-52.3,83.2l52.3,83.2h104.5l52.2-83.2l-52.3-83.2h-27.5L1313,661.4L1313,661.4z"/>
            </g>
        </g>
        <g id="Layer_4">
            <g id="Layer_15">
                <line class="screen3st11" x1="1463" y1="673" x2="1482" y2="662"/>
                <line class="screen3st11" x1="1463" y1="694" x2="1484" y2="678"/>
                <line class="screen3st11" x1="1463" y1="712" x2="1484" y2="696"/>
                <line class="screen3st11" x1="1460" y1="738" x2="1483" y2="715"/>
                <line class="screen3st11" x1="1465" y1="751" x2="1487" y2="733"/>
                <path class="screen3st13" d="M1648.4,657.9c-21.9,0-39.7-16.3-39.7-36.4s17.8-36.4,39.7-36.4s39.7,16.3,39.7,36.4
                    S1670.3,657.9,1648.4,657.9z"/>
                <path d="M1648.4,586.7c21.1,0,38.2,15.6,38.2,34.9s-17.2,34.9-38.2,34.9s-38.2-15.6-38.2-34.9S1627.3,586.7,1648.4,586.7
                     M1648.4,583.7c-22.8,0-41.2,17-41.2,37.9s18.4,37.9,41.2,37.9s41.2-17,41.2-37.9S1671.2,583.7,1648.4,583.7z"/>
                <polygon class="screen3st13" points="1595.1,836.5 1543.8,754.8 1595.1,673.2 1626.1,673.2 1633,665.6 1639.3,672.2 1630.7,752.6 
                    1647.2,770.8 1664,753.8 1657.4,672.3 1663.9,665.6 1670.6,673.2 1697.9,673.2 1749.2,754.8 1697.9,836.5               "/>
                <path d="M1633,667.8l4.7,4.9l-8.4,79l-0.1,1.3l0.9,1l15,16.5l2.1,2.3l2.2-2.3l15.2-15.3l1-1l-0.1-1.4l-6.5-80.1l4.9-5l5.1,5.8
                    l0.9,1h27.2l50.4,80.2l-50.4,80.2h-101.2l-50.4-80.2l50.4-80.2h30.9l0.9-1L1633,667.8 M1664,663.4l-8.1,8.3l6.5,81.5l-15.2,15.3
                    l-15-16.5l8.6-80.4l-7.9-8.3l-7.5,8.3h-31.2l-52.3,83.2l52.2,83.2h104.5l52.3-83.2l-52.3-83.2h-27.5L1664,663.4L1664,663.4z"/>
            </g>
        </g>
        <g id="Layer_3">
            <g id="Layer_13">
                <line class="screen3st11" x1="1638" y1="687" x2="1657" y2="676"/>
                <line class="screen3st11" x1="1638" y1="708" x2="1659" y2="692"/>
                <line class="screen3st11" x1="1638" y1="726" x2="1659" y2="710"/>
                <line class="screen3st11" x1="1635" y1="752" x2="1658" y2="729"/>
                <line class="screen3st11" x1="1640" y1="765" x2="1662" y2="747"/>
                <path class="screen3st13" d="M1473.2,636.8c-24.8,0-44.9-18.5-44.9-41.1s20.1-41.1,44.9-41.1s44.9,18.5,44.9,41.1
                    S1497.9,636.8,1473.2,636.8z"/>
                <path d="M1473.2,556c23.9,0,43.4,17.8,43.4,39.6s-19.5,39.6-43.4,39.6s-43.4-17.8-43.4-39.6S1449.2,556,1473.2,556 M1473.2,553
                    c-25.6,0-46.4,19.1-46.4,42.6s20.8,42.6,46.4,42.6s46.4-19.1,46.4-42.6S1498.8,553,1473.2,553z"/>
                <polygon class="screen3st13" points="1413,837.8 1355.1,745.7 1413,653.6 1448,653.6 1455.8,645 1463.1,652.6 1453.4,743.1 
                    1471.8,763.3 1490.5,744.4 1483.1,652.6 1490.6,645 1498.2,653.6 1529,653.6 1586.9,745.7 1529,837.8               "/>
                <path d="M1455.8,647.2l5.7,6l-9.5,89.1l-0.1,1.3l0.9,1l16.8,18.5l2.1,2.3l2.2-2.3l17.1-17.2l1-1l-0.1-1.4l-7.2-90.4l5.9-6
                    l6.1,6.9l0.9,1h30.7l56.9,90.6l-56.9,90.6h-114.4l-56.9-90.6l56.9-90.6h34.8l0.9-1L1455.8,647.2 M1490.7,642.8l-9.1,9.3
                    l7.3,91.8l-17.1,17.3l-16.8-18.5l9.7-90.5l-8.9-9.3l-8.4,9.3h-35.2l-58.8,93.6l58.8,93.6h117.6l58.8-93.6l-58.8-93.6h-31
                    L1490.7,642.8L1490.7,642.8z"/>
            </g>
        </g>
    </g>
</g>
<g id="Company_brief_1_">
    <foreignObject class="node" x="133" y="450" width="900" height="500" >




     <textarea rows='1' id='companyPhilosophy' name='companyPhilosophy' placeholder="Tell us what your company does" onclick="dataPreview(this.id,25,'textarea',50)"   onmouseover='mousehoverEvent(this.id)' onmouseleave ='mouseleaveEvent(this.id)'  style='color:black; background:transparent;cursor: pointer; border:none; resize: none; font-size: 35px; width:900px; height:150px; text-align:center; '  readonly></textarea>
</p>
</foreignObject>
  
</g>

</svg>