<?xml version="1.0" encoding="utf-8"? style='display:none'>
<!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1982.6 1080" style="enable-background:new 0 0 ;" xml:space="preserve">
<style type="text/css">
	.screen6st0{fill:#E6E6E6;}
	.screen6st1{fill:#CFD6D6;}
	.screen6st2{fill:#559593;}
	.screen6st3{fill:#B3C0BF;}
	.screen6st4{fill:#5D9693;}
	.screen6st5{fill:#DDDDDD;}
	.screen6st6{fill:#599895;}
	.screen6st7{font-family:'SegoeUI-Bold';}
	.screen6st8{font-size:72px;}
	.screen6st9{letter-spacing:-3;}
	.screen6st10{fill:#E8AA73;}
	.screen6st11{fill:#DB9E6B;}
	.screen6st12{fill:#E1E1E1;}
	.screen6st13{fill:#589B97;stroke:#020202;stroke-miterlimit:10;}
	.screen6st14{fill:#96BDBB;}


	#client6:hover { 
  border: 7px solid #C1C0BF; 
}

#client5:hover { 
  border: 7px solid #C1C0BF; 
}n
#client4:hover { 
  border: 7px solid #C1C0BF; 
}
#client3:hover { 
  border: 7px solid #C1C0BF; 
}
#client2:hover { 
  border: 7px solid #C1C0BF; 
}
#client1:hover { 
  border: 7px solid #C1C0BF; 
}


#fidclient_6 { 
   display : none; 
}
#fidclient_5 { 
   display : none; 
}
#fidclient_4 { 
   display : none; 
}
#fidclient_3 { 
   display : none; 
}

</style>
<title>06</title>
<g id="bg">
	<rect x="63.6" class="screen6st0" width="1919" height="1077"/>
</g>
<g id="grey_prlgrm">
	<polygon class="screen6st1" points="383.8,213.9 169.3,213.9 90.1,277.5 1975.6,277.5 1975.6,212.6 	"/>
</g>
<g id="green_prlgrm_1">
	<polygon class="screen6st2" points="421.3,191 335.1,257 1980.6,258 1979.6,189 	"/>
</g>
<g id="grey_green_prlgrm_2">
	<polygon class="screen6st3" points="218.1,70 184.1,70 250.1,132 1965.1,124 1962.1,58 	"/>
</g>
<g id="green_prlgrm">
	<polygon class="screen6st4" points="379.3,65 219.1,65 285.8,134 429,133 1973.6,127 1973.6,66 	"/>
</g>
<g id="bigger_prlgrm">
	<polygon class="screen6st5" points="365.1,39.7 508.6,213 1982.6,213 1979.6,38.5 	"/>
</g>
<g id="thinner_prlgrm_1">
	<polygon class="screen6st2" points="581.1,200.5 573.1,189.5 1978.6,189.5 1980.1,201.5 	"/>
</g>
<g id="TEXT">
	<text transform="matrix(1 0 0 1 614.35 195.54)" class="screen6st6 screen6st7 screen6st8">THEY H</text>
	<text transform="matrix(1 0 0 1 868.74 195.54)" class="screen6st6 screen6st7 screen6st8 screen6st9">A</text>
	<text transform="matrix(1 0 0 1 915.39 195.54)" class="screen6st6 screen6st7 screen6st8">VE TRUSTED US</text>
</g>
<g id="HANDS">
	<path class="screen6st10" d="M1147.6,767c-22-15.4-42.1-32.6-43-33.4c-13.4-13.4-39-15.7-60-7.8c-1,0.4-2,0.8-3,1.2
		c-10,6.3-34.4-7-67.8-4.8c0,0-7.2,1.2-21.3-1.3s-39.5-6.9-42.1-6.1c-2.4,0.7-8.2,3.2-9.8,7.5l-0.1,0.2c-0.1,0.4-0.2,0.8-0.3,1.2
		c2.9,1.2,5.9,2.2,8.9,3c3.1,0.9,7.2,2.1,12.5,3.5c16.7,4.3,15.9,5.6,24.7,8.2s23.9,9.8,27.1,11.1s18.2,6.1,30.4,12.7
		s16,2.5,23.8,2.6c7.8,0.1,33.1,0.4,40.5,1.9s23.3,6.9,29.7,11.2c2.3,1.6,18.9,15,42.7,36.3C1145.6,797,1146.3,785.7,1147.6,767z"/>
	<path class="screen6st10" d="M1157.5,830.5l1.5,1.3c-0.6-2.9-1.1-5.9-1.6-8.8C1157.4,825.5,1157.5,828,1157.5,830.5z"/>
	<path class="screen6st11" d="M938.5,720.6l-1.3-0.3c10.4,1.1,24,2.7,24,2.7L938.5,720.6z"/>
	<path class="screen6st11" d="M908.8,716c-5,0.2-8.1,6.5-8.1,6.5c0.2-0.5,3.9-7.8,9.3-7.8s37.1,5.5,37.1,5.5S913.8,715.8,908.8,716z"/>
	<path class="screen6st11" d="M1157.5,830.5l1.5,1.3c-0.6-3-1.1-5.9-1.6-8.9C1157.4,825.5,1157.5,828,1157.5,830.5z"/>
	<path class="screen6st11" d="M1140.5,804.2c-28.5-21.3-52.6-39.3-54.2-40c-3.9-1.8-11.7-4.8-11.6-6.9l0.2-3.3c0,0-31.4,5.8-37.3,5.3
		s-5.5,0.8-9.1,0.6s-13.5-1.4-18.5-1.2s-26.8-11.1-30.9-12.2s-25.9-10.4-28.9-11.3s-38.1-9.3-38.8-9.5c-0.6-0.2-1.2-0.5-1.7-0.9
		c3.4-5.6,12.5-5.3,15.3-5.5c1-0.1,5.7,0.3,11.2,0.9c-23.7-5.2-26.7,1.8-27,4.4c-1.1-0.5-8.5-2.4-8.5-2.4l-0.1,0.1
		c-0.2,0.4-0.3,0.8-0.3,1.3c0,0,4.6,2,21.1,6.2s15.7,5.3,24.4,7.9s23.6,9.4,26.8,10.6s18,5.8,30,12.2s15.8,2.4,23.5,2.5
		c7.7,0.1,32.7,0.3,40,1.8c7.3,1.4,23,6.6,29.3,10.8c2.3,1.5,21.7,18.2,45.2,38.6C1140.6,810.7,1140.5,807.4,1140.5,804.2z"/>
	<path class="screen6st11" d="M1049.2,757.4c-0.1,0.4-0.3,0.7-0.5,0.9l0.7,0.2L1049.2,757.4z"/>
	<path class="screen6st11" d="M976,731.2c0,0.2,0.1,0.4,0.2,0.6C976.1,731.5,976.1,731.3,976,731.2z"/>
	<path class="screen6st11" d="M1009.7,726.7c13.8,3.5,19,4.1,25.2,3.5c3.7-0.4,7.3-1.6,10.5-3.6c0,0,0.1,0.3,0.2,0.9
		c-1.5,2.5-14,6.2-33.6,1c-19.6-5.1-27.9-4.2-30.5-4.5C984.2,722.8,996,723.3,1009.7,726.7z"/>
	<path class="screen6st11" d="M983.3,736c1.8,0.7,22.5,12,25.9,13.1s19.8,4.2,21.9,4.3c1.8,0.1,14.5,3.9,17.5,4.8c-0.1,0.1-0.3,0.1-0.4,0.1
		c-4.1,0-36.6-6.9-38.5-7.4s-30.1-12.1-33-17.9c-0.2-0.5-0.4-0.9-0.6-1.4C977.2,733.9,981.4,735.3,983.3,736z"/>
	<path class="screen6st11" d="M978.5,725.8c-1.5,1.6-2.6,3.9-2.5,5.4C975.5,728.5,976.8,726.9,978.5,725.8z"/>
	<path class="screen6st11" d="M981.5,724.1c-1,0.5-2,1-3,1.7C979.3,724.8,980.4,724.2,981.5,724.1z"/>
	<path class="screen6st11" d="M1147.6,766.3c-22.2-17-39.4-30.3-40.3-31.2c-3.8-4.1-8.4-7.3-13.5-9.4c-0.3-0.2-0.6-0.4-0.8-0.6
		c0,0,0.1,0.1,0.3,0.4c-13.7-5.7-31.3-5.3-46.5,1c-0.7,0.9-1.1,1.5-1.1,1.5c22.4-8.4,45.8-1.9,48.7-1c1.4,2.5,1.9,5.4,1.4,8.3
		c-1.1,6.6-1.8,8.7-6.6,12.8c-3,2.7-5.4,6.1-6.8,9.8c0,0,5.5-4.3,10.4-8.4c4.1-3.4,6.9-10.2,6.4-15.2c1.5-0.9,7.2,3.3,9.7,5.8
		c0.8,0.8,17.1,13.4,38.5,29.8C1147.5,768.8,1147.5,767.6,1147.6,766.3z"/>
	<path class="screen6st12" d="M990.5,727.3c0.3,0.1,0.5,0.4,0.5,0.7c-0.3,2.1-1.6,9.4-3.2,9.4c-1.8,0-9.8-2.7-10.5-4.7s-1.2-5.7,2.7-6.4
		C983.2,725.6,988.7,726.9,990.5,727.3z"/>
	<path class="screen6st12" d="M900.3,723.9c2.9,1.2,5.9,2.2,9,3.1c0,0-4.2-3.4-6.9-4c-0.6-0.2-1.3-0.2-1.9-0.2
		C900.4,723.1,900.3,723.5,900.3,723.9z"/>
	<path class="screen6st12" d="M909.4,726.1l7.6,3.1l-7.7-2.2C909.2,726.7,909.2,726.4,909.4,726.1z"/>
</g>
<g id="Layer_11">
	<path class="screen6st13" d="M1015.1,710.5c0,0-40.2-16.6-44.3-47.6c-1.2-8.8,1.9-17.9,8.8-23.5s18.1-8.3,33.5,7.1c0,0,1.5-12.4,21.7-12
		c7.7,0.1,14.7,4.7,18,11.7c2.9,6.3,4.2,15.5-1.3,27.6c-3.4,7.3-8.4,13.7-14.7,18.8L1015.1,710.5z"/>
	<path class="screen6st14" d="M1015.1,647.7c0,0,6.7-12.4,20.5-11.3c13.9,1.1,17.9,12.9,18.6,19.3c0.8,7.7-4.4,19.4-4.4,19.4
		s5-23.6-7.7-30.6C1028.9,637.3,1015.1,647.7,1015.1,647.7z"/>
</g>
<g id="client_4">
	
<foreignObject x="1200" y="510" width="200" height="300" id='fidclient_4'>
        <div class="image-upload">
    <label for="file-inputclient_4">
        <img src="/images/company profile svgs/clint 6.png"  id='client4'/>
    </label>

    
    <input id="file-inputclient_4" type="file"  accept="image/*"  onclick="imageUpload(this,'client4','screen4Id','fidclient_4',200,200)" onchange="imageUpload(this,'client4','screen4Id','fidclient_4',200,200)"/>
</div>
	</foreignObject>

		
</g>
<g id="client_5">
	<foreignObject x="1300" y="790" width="200" height="300" id='fidclient_5'>
        <div class="image-upload">
    <label for="file-inputclient_5">
        <img src="/images/company profile svgs/5.png"  id='client5'/>
    </label>

    <input id="file-inputclient_5" type="file"  accept="image/*"   onclick="imageUpload(this ,  'client5' ,'screen5Id', 'fidclient_5', 200,200)" onchange="imageUpload(this ,  'client5' , 'screen5Id', 'fidclient_5', 200,200)"/>
</div>
	</foreignObject>
		

</g>
<g id="client_6">
	<foreignObject x="580" y="790" width="200" height="300" id='fidclient_6'>
        <div class="image-upload">
    <label for="file-inputclient_6">
        <img src="/images/company profile svgs/3.png"  id='client6'  />
    </label>

    <input id="file-inputclient_6" type="file"  accept="image/*"  onclick="imageUpload(this ,  'client6' , 'screen6Id', 'fidclient_6', 200,200)" onchange="imageUpload(this,'client6','screen6Id','fidclient_6', 200,200)"/>
</div>
	</foreignObject>
</g>
<g id="client_3">

	<foreignObject x="580" y="540" width="200" height="300" id='fidclient_3'>
        <div class="image-upload">
    <label for="file-inputclient_3">
        <img src="/images/company profile svgs/2.png"  id='client3'/>
    </label>

    <input id="file-inputclient_3" type="file"  accept="image/*"  onclick="imageUpload(this , 'client3' , 'screen3Id', 'fidclient_3', 200,200)" onchange="imageUpload(this,'client3','screen3Id','fidclient_3',200,200)"/>
</div>
	</foreignObject>
</g>


<g id="client_2">
	<foreignObject x="900" y="850" width="200" height="300" id='fidpic'>
        <div class="image-upload">
    <label for="file-inputcomp">
        <img src="/images/company profile svgs/4.png"  id='client2'/>
    </label>

   
     <input id="file-inputcomp" type="file"  accept="image/*"  onclick="imageUpload(this ,  'client2' , 'screen2Id', 'fidpic',200,200)" onchange="imageUpload(this ,  'client2' , 'screen2Id', 'fidpic', 200,200)"/>
</div>
	</foreignObject>
		
</g>




<g id="client_1">
	<foreignObject x="910" y="360" width="200" height="300" id='fidclient1'>
        <div class="image-upload">
    <label for="file-inputclient1">
        <img src="/images/company profile svgs/1.png"  id='client1'/>
    </label>

    <input id="file-inputclient1" type="file"  accept="image/*"  onclick="imageUpload(this ,  'client1' , 'screen1Id', 'fidclient1', 200,200)" onchange="imageUpload(this ,  'client1' , 'screen1Id', 'fidclient1', 200,200)"/>
</div>

	</foreignObject>
</g>
</svg>
