<?xml version="1.0" encoding="utf-8"? style='display:none'>

<svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1920 1080" style="enable-background:new 0 0 1920 1080;" xml:space="preserve" id='sv1'>
<style type="text/css">
	.st0{fill:none;}
	.st1{fill:#FCFAFA;}
	.st2{font-family:'SegoeUI-Regular';}
	.st3{font-size:38px;}
	.st4{letter-spacing:-6;}
	.st5{letter-spacing:4;}
	.st6{letter-spacing:-1;}
#web_url {
  pointer-events: bounding-box;
  opacity: 0.4;
}
#web_url:hover  {
    opacity: 1;
}
#websiteName::-webkit-input-placeholder
{
  color: white ;
}


#websiteName::-moz-placeholder
{
  color: white ;
}
</style>
<title>Scene1_updated</title>
<g id="Layer_1_1_">
	<g id="Layer_1-2">
		<g id="Layer_1-3">
			<g id="BG">
				<image style="overflow:visible;enable-background:new;" width="1920" height="1080" xlink:href="/images/Web Walkthrough/750D2400.png" >
				</image>
				<path class="st0" d="M0,0"/>
				<g id="Hard_Vignette_1">
					<image style="overflow:visible;enable-background:new;" width="1920" height="1080" xlink:href="/images/Web Walkthrough/750D2401.png" >
					</image>
					<path class="st0" d="M0,0"/>
				</g>
				<g id="web_url">
					<g id="Url_bar">
						
							<image style="overflow:visible;enable-background:new;" width="1594" height="346" xlink:href="/images/Web Walkthrough/750D2407.png"  transform="matrix(1 0 0 1 161 438)">
						</image>
						<path class="st0" d="M0,0"/>
						
							<image style="overflow:visible;enable-background:new    ;" width="112" height="145" xlink:href="/images/Web Walkthrough/750D2402.png"  transform="matrix(1 0 0 1 1551 531)">
						</image>
						<path class="st0" d="M0,0"/>
					</g>
					<path class="st0" d="M0,0"/>
				</g>
				<path class="st0" d="M0,0"/>
				
					<image style="overflow:visible;enable-background:new    ;" width="9" height="102" xlink:href="/images/Web Walkthrough/750D2403.png"  transform="matrix(1 0 0 1 1529 543)">
				</image>
				<path class="st0" d="M0,0"/>
			</g>
		</g>
	</g>
</g>
<g id="webSiteUrl">
<foreignObject x="420" y="585" width="900" height="300" >

<input type='text'  class="st2 st3" id="websiteName" name="websiteName"    placeholder="WWW.YOURWEBSITE.COM"  onclick="dataPreview(this.id,25,'text')" onmouseover="mousehoverEvent(this.id)" onmouseleave ="mouseleaveEvent(this.id)" style='color:white;background:transparent;cursor: pointer;border:none;resize: none;width:900px;text-align:center;' readonly />


</foreignObject>	
</g>
</svg>
