<?xml version="1.0" encoding="utf-8"? style='display:none'>
<!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="web_screen_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
     y="0px" viewBox="0 0 1920 1080" style="enable-background:new 0 0 1920 1080;" xml:space="preserve">
<style type="text/css">
    .screen2st0{fill:#F9F7F7;}
    .screen2st1{font-family:'SegoeUI-light';}
    .screen2st2{font-size:42px;}
    .screen2st3{fill:#FFF8F8;}
    .screen2st4{font-size:30px;}
    .screen2st5{font-family:'MyriadPro-Regular';}
    .screen2st6{font-size:12px;}
    .screen2st7{font-weight:'lighter'}
          .image-upload > input
{
    display: none;
}

.image-upload img
{
   
    cursor: pointer;
}
#edit:hover { 
  border: 7px solid #C1C0BF; 
}
#svg_landingPageName::-webkit-input-placeholder
{
  color: white ;
}

#svg_landingPageName::-moz-placeholder
{
  color:white;
}
#svg_landingPageDescription::-webkit-input-placeholder
{
  color: white ;
}
#svg_landingPageDescription::-moz-placeholder
{
  color:white;
}
#edit {object-fit: contain;}
</style>
<title>Scene3-2</title>
<g id="Layer_1">
    <g id="BG">
        <image style="overflow:visible;enable-background:new    ;" width="1920" height="1080" id="image" xlink:href="/images/Web Walkthrough/FC18E734.png" >
        </image>
        <image style="overflow:visible;enable-background:new    ;" width="1920" height="1080" id="image-2" xlink:href="/images/Web Walkthrough/FC18E735.png" >
        </image>
        
            <image style="overflow:visible;enable-background:new    ;" width="478" height="563" id="image-3" xlink:href="/images/Web Walkthrough/FC18E733.png"  transform="matrix(0.9979 0 0 0.9979 1385.59 298.4989)">
        </image>
        
            <image style="overflow:visible;enable-background:new    ;" width="460" height="8" id="image-4" xlink:href="/images/Web Walkthrough/FC18E73C.png"  transform="matrix(1 0 0 1 1396 240)">
        </image>
    </g>
    <g id="screenToReplace">
         <foreignObject x="106" y="250" width="1197" height="749" id='fid'>
        <div class="image-upload">
    <label for="file-input">
        <img src="images/Web Walkthrough/images/Image_placeholder.png"   id='edit'/>
    </label>

    <input id="file-input" type="file"  accept=".png, .jpg, .jpeg"   onchange="imageUpload(this,'edit','updated_crop_img_landingPage','fid',1197,600,'edit1')"/>
</div>
        
</foreignObject>
           
    </g>
    <g id="description">
       
    </g>
    <g id="screenName">
    <foreignObject x="1400" y="190" width="1050" height="300" >

<input type='text'  class="screen2st3 screen2st1 screen2st4 screen2st7" id="svg_landingPageName" name="landingPageName"    placeholder="SCREEN NAME"  onclick="dataPreview(this.id,19,'text')" onmouseover="mousehoverEvent(this.id)" onmouseleave ="mouseleaveEvent(this.id)" style='color:white;background:transparent;cursor: pointer;border:none;resize: none;width:400px;text-align:center;' readonly />


</foreignObject>
       
    </g>
</g>
<g id="Layer_3">
    <g>
    <foreignObject x="1391.8101" y="460" width="1200" height="500" >
<textarea rows='1' class="screen2st3 screen2st1 screen2st4 screen2st7" id="svg_landingPageDescription" name="landingPageDescription"     placeholder="Purpose of screen and feature"  onclick="dataPreview(this.id,60,'textarea',155)" onmouseover="mousehoverEvent(this.id)" onmouseleave ="mouseleaveEvent(this.id)" style='background:transparent;color:white;cursor:pointer;text-align:center;resize:none;width:470px;height:155px;border:none' readonly></textarea>

</foreignObject>
       
    </g>
</g>
<g id="Layer_2_1_">
   
</g>

</svg>
