<?xml version="1.0" encoding="utf-8"? style='display:none'>

<svg version="1.1" id="web_screen_2" 
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 1080"
	 style="enable-background:new 0 0 1920 1080;" xml:space="preserve">
<style type="text/css">
	.screen3st0{clip-path:url(#SVGID_2_);}
	.screen3st1{fill:none;stroke:#231F20;stroke-width:3;stroke-miterlimit:10;}
	#edit1:hover { 
  border: 7px solid #38e038; 
}
#edit1 {object-fit: contain ;}
</style>
<title>Scene2_part1_updated</title>
<g id="pinksqaure3">
	<image style="overflow:visible;" width="1920" height="1080" id="screen2_img" xlink:href="/images/Web Walkthrough/1DC5E7BE.png" >
	</image>
	<image style="overflow:visible;" width="1920" height="1080" xlink:href="/images/Web Walkthrough/1DC5E7C2.png" >
	</image>
	<g id="Screen">
		<image style="overflow:visible;enable-background:new;" width="1700" height="1080" xlink:href="images/Web Walkthrough/images/Image_placeholder.png"  transform="matrix(1 0 0 1 96 0)" id='edit1'>
		</image>
		 
			
	</g>
</g>
<g id="clippedI2">
	<g>
		<defs>
			
		</defs>
		<clipPath id="SVGID_2_">
			<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
		</clipPath>
		<g class="screen3st0">
			<g id="pinksqaure3_1_">
				<image style="overflow:visible;" width="1920" height="1080" id="screen2_img_2_" xlink:href="/images/Web Walkthrough/1DC5E7C6.png" >
				</image>
				<image style="overflow:visible;" width="1920" height="1080" xlink:href="/images/Web Walkthrough/1DC5E7C4.png" >
				</image>
				<g id="Screen_1_">
					
						<image style="overflow:visible;enable-background:new    ;" width="1728" height="1080" xlink:href="/images/Web Walkthrough/1DC5E7C3.png"  transform="matrix(1 0 0 1 96 0)">
					</image>
				</g>
			</g>
		</g>
	</g>
 <circle id="clipcircle3" class="screen3st1" cx="760" cy="482" r="175" fill="none" stroke="#231f20" stroke-miterlimit="10">
</circle>
</g>
</svg>