<?xml version="1.0" encoding="utf-8"? style='display:none'>

<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1920 1080" style="enable-background:new 0 0 1920 1080;" xml:space="preserve">
<style type="text/css">
	.screen4st0{fill:#FFFFFF;}
	.screen4st1{fill:none;stroke:#FFFFFF;stroke-width:4;stroke-miterlimit:10;}
	.screen4st2{fill:none;stroke:#FFA81D;stroke-width:4;stroke-miterlimit:10;}
	.screen4st3{font-family:'SegoeUI-Light';}
	.screen4st4{font-size:20px;}
	.screen4st5{font-size:20px;}
	.screen4st6{letter-spacing:-2;}
	.screen4st7{opacity:0.24;fill:#0A0A0A;enable-background:new    ;}
	.screen4st8{fill:#FCFAFA;}
	.screen4st9{font-size:34px;}
	.screen4st10{font-size:30px;}
	#edit2:hover { 
  border: 7px solid #C1C0BF; 
}
#screenName4::-webkit-input-placeholder
{
  color: black ;
}


#featureName4::placeholder
{
  color: black ;
}
#aboutFeature4::-webkit-input-placeholder
{
  color: white;
}
#aboutFeature4::placeholder
{
  color: white;
}
#edit2 {object-fit: contain;}
</style>
<title>Scene4</title>
<g id="web_screen_3">
	<g id="bg">
		<image style="overflow:visible;enable-background:new    ;" width="1920" height="1080" xlink:href="/images/Web Walkthrough/4A7EC961.png" >
		</image>
	</g>
	<g id="featureScreen">
		  <foreignObject x="55" y="220" width="1162" height="720" id='fid2'>
        <div class="image-upload">
    <label for="file-input1">
        <img src="images/Web Walkthrough/images/Image_placeholder.png"   id='edit2'/>
    </label>

    <input id="file-input1" type="file"  accept=".png, .jpg, .jpeg"   onchange="imageUpload(this,'edit2','updated_crop_img_featureScreen','fid2',1162,580)"/>
</div>
        
</foreignObject>
			
	</g>
	<g id="featureBox">
		<rect x="1285" y="221" class="screen4st0" width="352.5" height="130"/>
		<line class="screen4st1" x1="1716" y1="287.5" x2="1640.5" y2="287.5"/>
		<ellipse class="screen4st0" cx="1734" cy="288.5" rx="12" ry="11.5"/>
		<line class="screen4st2" x1="1309" y1="288" x2="1637" y2="288"/>
	</g>
	<g id="screenName">
	<foreignObject x="1305" y="250" width="300" height="300" >


<input type='text'  class="screen4st3 screen4st4" id="screenName4"  name="screenName"    placeholder="SCREEN NAME"  onclick="dataPreview(this.id,17,'text')" onmouseover='mousehoverEvent(this.id)' onmouseleave ='mouseleaveEvent(this.id)' style='color:black;background:transparent;cursor: pointer;border:none;resize: none;width:320px;text-align:center;resize: none;' readonly />


</foreignObject>
		
	</g>
	<g id="featureName">
		<g>
		<foreignObject x="1305.29" y="310" width="300" height="300" >


<input type='text'  class="screen4st3 screen4st5" id="featureName4"  name="featureName"    placeholder="FEATURE NAME"  onclick="dataPreview(this.id,17,'text')" onmouseover='mousehoverEvent(this.id)' onmouseleave ='mouseleaveEvent(this.id)' style='color:black;background:transparent;cursor: pointer;border:none;resize: none;width:320px;text-align:center;resize: none;' readonly />
</foreignObject>
			
		</g>
	</g>
	<g id="featureOverlay">
		<rect x="1283" y="365.2" class="screen4st7" width="356" height="432.2"/>
	</g>
	<g id="featureDescription">
		<g>
		<foreignObject x="1285" y="469.42" width="1200" height="250" >
<textarea rows='1' class="screen4st3 screen4st10" id="aboutFeature4"  name="aboutFeature"   placeholder="About the feature"  onclick="dataPreview(this.id,60,'textarea',175)" onmouseover='mousehoverEvent(this.id)' onmouseleave ='mouseleaveEvent(this.id)' style='background:transparent;color:white;cursor:pointer;text-align:center;resize:none;width:350px;height:175px;border:none' readonly></textarea>

</foreignObject>
			
		</g>
	</g>
</g>
<g id="screen4linethree">
</g>
<g id="screen4linefour">
</g>
<g id="screen4linetwo">
</g>
</svg>
